<html>
<body>
Dear $name,<br/><br/>

We seek your confirmation on the request to reset your account password on $date.<br/><br/>

Please click <a href="$resetUrl">here</a> to authorize the reset of your account password.<br/><br/>

If above link doesn't work, please copy the following into your browser's address bar.<br/><br/>
$resetUrl<br/><br/>

This email will expire by $expireDate  No further action is necessary if you did not initiate the request or do not wish to authorize the request. Should you have any enquiries, kindly contact service helpdesk at $helpdeskNumber or email to $helpdeskEmail.<br/><br/>

Thank you for using b2b web portal<br/><br/><br/>


Regards,<br/>
Customer Helpdesk<br/>
$companyName<br/><br/>

Server Url: <a href="$appUrl">$appUrl</a>
</body>
</html>