<html>
    <body>
        Hi, <br/><br/>
        This is a test message sent by the supplier portal system.<br/><br/>
        Kindly ignore the messsage. <br/><br/><br/>
        PracBiz B2B Portal System<br/>
        Customer Support
    </body>
</html>
