<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pracbiz.b2bportal.core.mapper.AuditAccessMapper" >
  <resultMap id="BaseResultMap" type="com.pracbiz.b2bportal.core.holder.AuditAccessHolder" >
    <id column="ACCESS_OID" property="accessOid" jdbcType="DECIMAL" />
    <result column="PRINCIPAL_TYPE" property="principalType" jdbcType="CHAR" />
    <result column="PRINCIPAL_OID" property="principalOid" jdbcType="DECIMAL" />
    <result column="LOGIN_ID" property="loginId" jdbcType="VARCHAR" />
    <result column="CLIENT_IP" property="clientIp" jdbcType="VARCHAR" />
    <result column="SUCCESS" property="success" jdbcType="BIT" />
    <result column="ACTION_TYPE" property="actionType" jdbcType="CHAR" />
    <result column="ACTION_DATE" property="actionDate" jdbcType="TIMESTAMP" />
    <result column="ATTEMPT_NO" property="attemptNo" jdbcType="INTEGER" />
    <result column="ERROR_CODE" property="errorCode" jdbcType="CHAR" />
    <result column="USER_TYPE_OID" property="userTypeOid" jdbcType="DECIMAL" />
    <result column="COMPANY_OID" property="companyOid" jdbcType="DECIMAL" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ACCESS_OID, PRINCIPAL_TYPE, PRINCIPAL_OID, LOGIN_ID, CLIENT_IP, SUCCESS, ACTION_TYPE, 
    ACTION_DATE, ATTEMPT_NO, ERROR_CODE, USER_TYPE_OID, COMPANY_OID
  </sql>
  
  <select id="selectLastRecordByLoginId" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from AUDIT_ACCESS where LOGIN_ID =  #{loginId,jdbcType=VARCHAR} order by ACTION_DATE desc LIMIT 0,1;
  </select>
  
  <select id="select" resultMap="BaseResultMap" parameterType="com.pracbiz.b2bportal.core.holder.AuditAccessHolder"  >
    select 
    <include refid="Base_Column_List" />
    from AUDIT_ACCESS
    <where>
      <if test="principalType != null" >
        PRINCIPAL_TYPE = #{principalType,jdbcType=CHAR}
      </if>
      <if test="principalOid != null" >
        AND PRINCIPAL_OID = #{principalOid,jdbcType=DECIMAL}
      </if>
      <if test="loginId != null" >
        AND LOGIN_ID = #{loginId,jdbcType=VARCHAR}
      </if>
      <if test="clientIp != null" >
        AND CLIENT_IP = #{clientIp,jdbcType=VARCHAR}
      </if>
      <if test="success != null" >
        AND SUCCESS = #{success,jdbcType=BIT}
      </if>
      <if test="actionType != null" >
        AND ACTION_TYPE = #{actionType,jdbcType=CHAR}
      </if>
      <if test="actionDate != null" >
        AND ACTION_DATE = #{actionDate,jdbcType=TIMESTAMP}
      </if>
      <if test="attemptNo != null" >
        AND ATTEMPT_NO = #{attemptNo,jdbcType=INTEGER}
      </if>
      <if test="errorCode != null" >
        AND ERROR_CODE = #{errorCode,jdbcType=CHAR}
      </if>
      <if test="accessOid != null" >
        AND ACCESS_OID = #{accessOid,jdbcType=DECIMAL}
      </if>
      <if test="userTypeOid != null" >
        AND USER_TYPE_OID = #{userTypeOid,jdbcType=DECIMAL}
      </if>
      <if test="companyOid != null" >
        AND COMPANY_OID = #{companyOid,jdbcType=DECIMAL}
      </if>
    </where>
  </select>
  
  <delete id="delete" parameterType="com.pracbiz.b2bportal.core.holder.AuditAccessHolder" >
    delete from AUDIT_ACCESS
    <where>
      <if test="principalType != null" >
        PRINCIPAL_TYPE = #{principalType,jdbcType=CHAR}
      </if>
      <if test="principalOid != null" >
        AND PRINCIPAL_OID = #{principalOid,jdbcType=DECIMAL}
      </if>
      <if test="loginId != null" >
        AND LOGIN_ID = #{loginId,jdbcType=VARCHAR}
      </if>
      <if test="clientIp != null" >
        AND CLIENT_IP = #{clientIp,jdbcType=VARCHAR}
      </if>
      <if test="success != null" >
        AND SUCCESS = #{success,jdbcType=BIT}
      </if>
      <if test="actionType != null" >
        AND ACTION_TYPE = #{actionType,jdbcType=CHAR}
      </if>
      <if test="actionDate != null" >
        AND ACTION_DATE = #{actionDate,jdbcType=TIMESTAMP}
      </if>
      <if test="attemptNo != null" >
        AND ATTEMPT_NO = #{attemptNo,jdbcType=INTEGER}
      </if>
      <if test="errorCode != null" >
        AND ERROR_CODE = #{errorCode,jdbcType=CHAR}
      </if>
       <if test="accessOid != null" >
        AND ACCESS_OID = #{accessOid,jdbcType=DECIMAL}
      </if>
      <if test="userTypeOid != null" >
        AND USER_TYPE_OID = #{userTypeOid,jdbcType=DECIMAL}
      </if>
      <if test="companyOid != null" >
        AND COMPANY_OID = #{companyOid,jdbcType=DECIMAL}
      </if>
    </where>
  </delete>
  
  <insert id="insert" parameterType="com.pracbiz.b2bportal.core.holder.AuditAccessHolder" >
    insert into AUDIT_ACCESS (ACCESS_OID, PRINCIPAL_TYPE, PRINCIPAL_OID, 
      LOGIN_ID, CLIENT_IP, SUCCESS, 
      ACTION_TYPE, ACTION_DATE, ATTEMPT_NO, 
      ERROR_CODE, USER_TYPE_OID, COMPANY_OID)
    values (#{accessOid,jdbcType=DECIMAL}, #{principalType,jdbcType=CHAR}, #{principalOid,jdbcType=DECIMAL}, 
      #{loginId,jdbcType=VARCHAR}, #{clientIp,jdbcType=VARCHAR}, #{success,jdbcType=BIT}, 
      #{actionType,jdbcType=CHAR}, #{actionDate,jdbcType=TIMESTAMP}, #{attemptNo,jdbcType=INTEGER}, 
      #{errorCode,jdbcType=CHAR}, #{userTypeOid,jdbcType=DECIMAL}, #{companyOid,jdbcType=DECIMAL})
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="com.pracbiz.b2bportal.core.holder.AuditAccessHolder" >
    update AUDIT_ACCESS
    <set >
      <if test="principalType != null" >
        PRINCIPAL_TYPE = #{principalType,jdbcType=CHAR},
      </if>
      <if test="principalOid != null" >
        PRINCIPAL_OID = #{principalOid,jdbcType=DECIMAL},
      </if>
      <if test="loginId != null" >
        LOGIN_ID = #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null" >
        CLIENT_IP = #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="success != null" >
        SUCCESS = #{success,jdbcType=BIT},
      </if>
      <if test="actionType != null" >
        ACTION_TYPE = #{actionType,jdbcType=CHAR},
      </if>
      <if test="actionDate != null" >
        ACTION_DATE = #{actionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="attemptNo != null" >
        ATTEMPT_NO = #{attemptNo,jdbcType=INTEGER},
      </if>
      <if test="errorCode != null" >
        ERROR_CODE = #{errorCode,jdbcType=CHAR},
      </if>
      <if test="userTypeOid != null" >
        USER_TYPE_OID = #{userTypeOid,jdbcType=DECIMAL},
      </if>
      <if test="companyOid != null" >
        COMPANY_OID = #{companyOid,jdbcType=DECIMAL}
      </if>
    </set>
    where ACCESS_OID = #{accessOid,jdbcType=DECIMAL}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.pracbiz.b2bportal.core.holder.AuditAccessHolder" >
    update AUDIT_ACCESS
    set PRINCIPAL_TYPE = #{principalType,jdbcType=CHAR},
      PRINCIPAL_OID = #{principalOid,jdbcType=DECIMAL},
      LOGIN_ID = #{loginId,jdbcType=VARCHAR},
      CLIENT_IP = #{clientIp,jdbcType=VARCHAR},
      SUCCESS = #{success,jdbcType=BIT},
      ACTION_TYPE = #{actionType,jdbcType=CHAR},
      ACTION_DATE = #{actionDate,jdbcType=TIMESTAMP},
      ATTEMPT_NO = #{attemptNo,jdbcType=INTEGER},
      ERROR_CODE = #{errorCode,jdbcType=CHAR},
      USER_TYPE_OID = #{userTypeOid,jdbcType=DECIMAL},
      COMPANY_OID = #{companyOid,jdbcType=DECIMAL}
    where ACCESS_OID = #{accessOid,jdbcType=DECIMAL}
  </update>
  
</mapper>