<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pracbiz.b2bportal.core.mapper.BuyerRuleMapper" >
  <resultMap id="BaseResultMap" type="com.pracbiz.b2bportal.core.holder.BuyerRuleHolder" >
    <id column="RULE_OID" property="ruleOid" jdbcType="DECIMAL" />
    <id column="BUYER_OID" property="buyerOid" jdbcType="DECIMAL" />
    <result column="NUM_VALUE" property="numValue" jdbcType="DECIMAL" />
    <result column="STRING_VALUE" property="stringValue" jdbcType="VARCHAR" />
    <result column="BOOL_VALUE" property="boolValue" jdbcType="BIT" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    RULE_OID, BUYER_OID, NUM_VALUE, STRING_VALUE, BOOL_VALUE
  </sql>
  
  <select id="select" resultMap="BaseResultMap" parameterType="com.pracbiz.b2bportal.core.holder.BuyerRuleHolder" >
    select 
    <include refid="Base_Column_List" />
    from BUYER_RULE
    <where>
       <if test="ruleOid != null">
           RULE_OID = #{ruleOid,jdbcType=DECIMAL}
       </if>
       <if test="buyerOid != null">
           AND BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
       </if>
       <if test="numValue != null">
           AND NUM_VALUE = #{numValue,jdbcType=DECIMAL}
       </if>
       <if test="stringValue != null">
           AND STRING_VALUE = #{stringValue,jdbcType=VARCHAR}
       </if>
       <if test="numValue != null">
           AND BOOL_VALUE = #{boolValue,jdbcType=BIT}
       </if>
    </where>
  </select>
  
  <delete id="delete" parameterType="com.pracbiz.b2bportal.core.holder.BuyerRuleHolder" >
    delete from BUYER_RULE
    <where>
       <if test="ruleOid != null">
           RULE_OID = #{ruleOid,jdbcType=DECIMAL}
       </if>
       <if test="buyerOid != null">
           AND BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
       </if>
       <if test="numValue != null">
           AND NUM_VALUE = #{numValue,jdbcType=DECIMAL}
       </if>
       <if test="stringValue != null">
           AND STRING_VALUE = #{stringValue,jdbcType=VARCHAR}
       </if>
       <if test="numValue != null">
           AND BOOL_VALUE = #{boolValue,jdbcType=BIT}
       </if>
    </where>
  </delete>
  
  <insert id="insert" parameterType="com.pracbiz.b2bportal.core.holder.BuyerRuleHolder" >
    insert into BUYER_RULE (RULE_OID, BUYER_OID, NUM_VALUE, STRING_VALUE, BOOL_VALUE)
    values (#{ruleOid,jdbcType=DECIMAL}, #{buyerOid,jdbcType=DECIMAL}, #{numValue,jdbcType=DECIMAL}, #{stringValue,jdbcType=VARCHAR}, #{boolValue,jdbcType=BIT})
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.pracbiz.b2bportal.core.holder.BuyerRuleHolder" >
    update BUYER_RULE
    <set >
      <if test="numValue != null" >
        NUM_VALUE = #{numValue,jdbcType=DECIMAL},
      </if>
      <if test="stringValue != null">
        STRING_VALUE = #{stringValue,jdbcType=VARCHAR},
      </if>
      <if test="boolValue != null">
        BOOL_VALUE = #{boolValue,jdbcType=BIT},
      </if>
    </set>
    where RULE_OID = #{ruleOid,jdbcType=DECIMAL}
      and BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.pracbiz.b2bportal.core.holder.BuyerRuleHolder" >
    update BUYER_RULE
    set 
     NUM_VALUE = #{numValue,jdbcType=DECIMAL}
    ,STRING_VALUE = #{stringValue,jdbcType=VARCHAR}
    ,BOOL_VALUE = #{boolValue,jdbcType=BIT}
    where RULE_OID = #{ruleOid,jdbcType=DECIMAL}
      and BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
  </update>
</mapper>