<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pracbiz.b2bportal.core.mapper.BuyerStoreAreaUserMapper" >
  <resultMap id="BaseResultMap" type="com.pracbiz.b2bportal.core.holder.BuyerStoreAreaUserHolder" >
    <id column="AREA_OID" property="areaOid" jdbcType="DECIMAL" />
    <id column="USER_OID" property="userOid" jdbcType="DECIMAL" />
  </resultMap>
    
  <select id="select" resultMap="BaseResultMap" parameterType="com.pracbiz.b2bportal.core.holder.BuyerStoreAreaUserHolder" >
    select AREA_OID, USER_OID
    from BUYER_STORE_AREA_USER
    <where>
      <if test="areaOid != null" >
        AREA_OID = #{areaOid,jdbcType=DECIMAL}
      </if>
      <if test="userOid != null" >
        AND USER_OID = #{userOid,jdbcType=DECIMAL}
      </if>
    </where>
  </select>
  
  <delete id="delete" parameterType="com.pracbiz.b2bportal.core.holder.BuyerStoreAreaUserHolder" >
    delete from BUYER_STORE_AREA_USER
    <where>
      <if test="areaOid != null" >
        AREA_OID = #{areaOid,jdbcType=DECIMAL}
      </if>
      <if test="userOid != null" >
        AND USER_OID = #{userOid,jdbcType=DECIMAL}
      </if>
    </where>
  </delete>
  
  <insert id="insert" parameterType="com.pracbiz.b2bportal.core.holder.BuyerStoreAreaUserHolder" >
    insert into BUYER_STORE_AREA_USER (AREA_OID, USER_OID)
    values (#{areaOid,jdbcType=DECIMAL}, #{userOid,jdbcType=DECIMAL})
  </insert>
  
</mapper>