<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pracbiz.b2bportal.core.mapper.BuyerMsgSettingMapper" >
  <resultMap id="BaseResultMap" type="com.pracbiz.b2bportal.core.holder.BuyerMsgSettingHolder" >
    <id column="BUYER_OID" property="buyerOid" jdbcType="DECIMAL" />
    <id column="MSG_TYPE" property="msgType" jdbcType="VARCHAR" />
    <result column="ALERT_FREQUENCY" property="alertFrequency" jdbcType="CHAR" />
    <result column="ALERT_INTERVAL" property="alertInterval" jdbcType="SMALLINT" />
    <result column="RCPS_ADDRS" property="rcpsAddrs" jdbcType="VARCHAR" />
    <result column="ERROR_RCPS_ADDRS" property="errorRcpsAddrs" jdbcType="VARCHAR" />
    <result column="EXCLUDE_SUCC" property="excludeSucc" jdbcType="BIT" />
    <result column="FILE_FORMAT" property="fileFormat" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    BUYER_OID, MSG_TYPE, ALERT_FREQUENCY, ALERT_INTERVAL, RCPS_ADDRS, ERROR_RCPS_ADDRS, EXCLUDE_SUCC, FILE_FORMAT
  </sql>
  
  <select id="select" resultMap="BaseResultMap" parameterType="com.pracbiz.b2bportal.core.holder.BuyerMsgSettingHolder" >
    select 
    <include refid="Base_Column_List" />
    from BUYER_MSG_SETTING
    <where>
      <if test="buyerOid != null" >
        BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
      </if>
      <if test="msgType != null" >
        AND MSG_TYPE = #{msgType,jdbcType=VARCHAR}
      </if>
      <if test="alertFrequency != null" >
        AND ALERT_FREQUENCY = #{alertFrequency,jdbcType=CHAR}
      </if>
      <if test="alertInterval != null" >
        AND ALERT_INTERVAL = #{alertInterval,jdbcType=SMALLINT}
      </if>
      <if test="rcpsAddrs != null" >
        AND RCPS_ADDRS = #{rcpsAddrs,jdbcType=VARCHAR}
      </if>
      <if test="errorRcpsAddrs != null" >
        AND ERROR_RCPS_ADDRS = #{errorRcpsAddrs,jdbcType=VARCHAR}
      </if>
      <if test="excludeSucc != null" >
        AND EXCLUDE_SUCC = #{excludeSucc,jdbcType=BIT}
      </if>
      <if test="fileFormat != null" >
        AND FILE_FORMAT = #{fileFormat,jdbcType=VARCHAR}
      </if>
    </where>
    <if test="sortField != null" >
      order by ${sortField} ${sortOrder}
    </if>
  </select>
  
  <delete id="delete" parameterType="com.pracbiz.b2bportal.core.holder.BuyerMsgSettingHolder" >
    delete from BUYER_MSG_SETTING
    <where>
      <if test="buyerOid != null" >
        BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
      </if>
      <if test="msgType != null" >
        AND MSG_TYPE = #{msgType,jdbcType=VARCHAR}
      </if>
      <if test="alertFrequency != null" >
        AND ALERT_FREQUENCY = #{alertFrequency,jdbcType=CHAR}
      </if>
      <if test="alertInterval != null" >
        AND ALERT_INTERVAL = #{alertInterval,jdbcType=SMALLINT}
      </if>
      <if test="rcpsAddrs != null" >
        AND RCPS_ADDRS = #{rcpsAddrs,jdbcType=VARCHAR}
      </if>
      <if test="errorRcpsAddrs != null" >
        AND ERROR_RCPS_ADDRS = #{errorRcpsAddrs,jdbcType=VARCHAR}
      </if>
      <if test="excludeSucc != null" >
        AND EXCLUDE_SUCC = #{excludeSucc,jdbcType=BIT}
      </if>
      <if test="fileFormat != null" >
        AND FILE_FORMAT = #{fileFormat,jdbcType=VARCHAR}
      </if>
    </where>
  </delete>
  
  <insert id="insert" parameterType="com.pracbiz.b2bportal.core.holder.BuyerMsgSettingHolder" >
    insert into BUYER_MSG_SETTING (BUYER_OID, MSG_TYPE, ALERT_FREQUENCY, 
      ALERT_INTERVAL, RCPS_ADDRS, ERROR_RCPS_ADDRS, EXCLUDE_SUCC, FILE_FORMAT
      )
    values (#{buyerOid,jdbcType=DECIMAL}, #{msgType,jdbcType=VARCHAR}, #{alertFrequency,jdbcType=CHAR}, 
      #{alertInterval,jdbcType=SMALLINT}, #{rcpsAddrs,jdbcType=VARCHAR}, #{errorRcpsAddrs,jdbcType=VARCHAR}, #{excludeSucc,jdbcType=BIT},
      #{fileFormat,jdbcType=VARCHAR}
      )
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.pracbiz.b2bportal.core.holder.BuyerMsgSettingHolder" >
    update BUYER_MSG_SETTING
    <set >
      <if test="alertFrequency != null" >
        ALERT_FREQUENCY = #{alertFrequency,jdbcType=CHAR},
      </if>
      <if test="alertInterval != null" >
        ALERT_INTERVAL = #{alertInterval,jdbcType=SMALLINT},
      </if>
      <if test="rcpsAddrs != null" >
        RCPS_ADDRS = #{rcpsAddrs,jdbcType=VARCHAR},
      </if>
      <if test="errorRcpsAddrs != null" >
        ERROR_RCPS_ADDRS = #{errorRcpsAddrs,jdbcType=VARCHAR},
      </if>
      <if test="excludeSucc != null" >
        EXCLUDE_SUCC = #{excludeSucc,jdbcType=BIT},
      </if>
      <if test="fileFormat != null" >
        FILE_FORMAT = #{fileFormat,jdbcType=VARCHAR}
      </if>
    </set>
    where BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
      and MSG_TYPE = #{msgType,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.pracbiz.b2bportal.core.holder.BuyerMsgSettingHolder" >
    update BUYER_MSG_SETTING
    set ALERT_FREQUENCY = #{alertFrequency,jdbcType=CHAR},
      ALERT_INTERVAL = #{alertInterval,jdbcType=SMALLINT},
      RCPS_ADDRS = #{rcpsAddrs,jdbcType=VARCHAR},
      ERROR_RCPS_ADDRS = #{errorRcpsAddrs,jdbcType=VARCHAR},
      EXCLUDE_SUCC = #{excludeSucc,jdbcType=BIT},
      FILE_FORMAT = #{fileFormat,jdbcType=VARCHAR}
    where BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
      and MSG_TYPE = #{msgType,jdbcType=VARCHAR}
  </update>
</mapper>