<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pracbiz.b2bportal.core.mapper.GroupTradingPartnerMapper" >
  <resultMap id="BaseResultMap" type="com.pracbiz.b2bportal.core.holder.GroupTradingPartnerHolder" >
    <id column="GROUP_OID" property="groupOid" jdbcType="DECIMAL" />
    <id column="TP_OID" property="tradingPartnerOid" jdbcType="DECIMAL" />
  </resultMap>
      
  <select id="select" resultMap="BaseResultMap" parameterType="com.pracbiz.b2bportal.core.holder.GroupTradingPartnerHolder" >
    select GROUP_OID, TP_OID
    from GROUP_TRADING_PARTNER
    <where>
      <if test="groupOid != null" >
        GROUP_OID = #{groupOid,jdbcType=DECIMAL}
      </if>
      <if test="tradingPartnerOid != null" >
        AND TP_OID = #{tradingPartnerOid,jdbcType=DECIMAL}
      </if>
    </where>
  </select>
  
  <delete id="delete" parameterType="com.pracbiz.b2bportal.core.holder.GroupTradingPartnerHolder" >
    delete from GROUP_TRADING_PARTNER
    <where>
      <if test="groupOid != null" >
        GROUP_OID = #{groupOid,jdbcType=DECIMAL}
      </if>
      <if test="tradingPartnerOid != null" >
        AND TP_OID = #{tradingPartnerOid,jdbcType=DECIMAL}
      </if>
    </where>
  </delete>
  
  <insert id="insert" parameterType="com.pracbiz.b2bportal.core.holder.GroupTradingPartnerHolder" >
    insert into GROUP_TRADING_PARTNER (GROUP_OID, TP_OID)
    values (#{groupOid,jdbcType=DECIMAL}, #{tradingPartnerOid,jdbcType=DECIMAL})
  </insert>
  
</mapper>