<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pracbiz.b2bportal.core.mapper.ModuleMapper" >
  <resultMap id="BaseResultMap" type="com.pracbiz.b2bportal.core.holder.ModuleHolder" >
    <id column="MODULE_ID" property="moduleId" jdbcType="VARCHAR" />
    <result column="MODULE_NAME" property="moduleName" jdbcType="VARCHAR" />
    <result column="MODULE_TITLE_KEY" property="moduleTitleKey" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="MODULE_LEVEL" property="moduleLevel" jdbcType="SMALLINT" />
    <result column="SHOWABLE" property="showable" jdbcType="BIT" />
    <result column="SHOW_SORT" property="showSort" jdbcType="DECIMAL" />
    <result column="MODULE_LINK" property="moduleLink" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="exResultMap" type="com.pracbiz.b2bportal.core.holder.extension.ModuleExHolder" >
    <id column="MODULE_ID" property="moduleId" jdbcType="VARCHAR" />
    <result column="MODULE_NAME" property="moduleName" jdbcType="VARCHAR" />
    <result column="MODULE_TITLE_KEY" property="moduleTitleKey" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="MODULE_LEVEL" property="moduleLevel" jdbcType="SMALLINT" />
    <result column="SHOWABLE" property="showable" jdbcType="BIT" />
    <result column="SHOW_SORT" property="showSort" jdbcType="DECIMAL" />
    <result column="MODULE_LINK" property="moduleLink" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    MODULE_ID, MODULE_NAME, MODULE_TITLE_KEY, PARENT_ID, MODULE_LEVEL, SHOWABLE, SHOW_SORT, 
    MODULE_LINK
  </sql>
  
  <select id="select" resultMap="BaseResultMap" parameterType="com.pracbiz.b2bportal.core.holder.ModuleHolder" >
    select 
    <include refid="Base_Column_List" />
    from MODULE
    <where>
      <if test="moduleId != null" >
        MODULE_ID = #{moduleId,jdbcType=VARCHAR}
      </if>
      <if test="moduleName != null" >
        AND MODULE_NAME = #{moduleName,jdbcType=VARCHAR}
      </if>
      <if test="moduleTitleKey != null" >
        AND MODULE_TITLE_KEY = #{moduleTitleKey,jdbcType=VARCHAR}
      </if>
      <if test="parentId != null" >
        AND PARENT_ID = #{parentId,jdbcType=VARCHAR}
      </if>
      <if test="moduleLevel != null" >
        AND MODULE_LEVEL = #{moduleLevel,jdbcType=SMALLINT}
      </if>
      <if test="showable != null" >
        AND SHOWABLE = #{showable,jdbcType=BIT}
      </if>
      <if test="showSort != null" >
        AND SHOW_SORT = #{showSort,jdbcType=DECIMAL}
      </if>
      <if test="moduleLink != null" >
        AND MODULE_LINK = #{moduleLink,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
  <delete id="delete" parameterType="com.pracbiz.b2bportal.core.holder.ModuleHolder" >
    delete from MODULE
    <where>
      <if test="moduleId != null" >
        MODULE_ID = #{moduleId,jdbcType=VARCHAR}
      </if>
      <if test="moduleName != null" >
        AND MODULE_NAME = #{moduleName,jdbcType=VARCHAR}
      </if>
      <if test="moduleTitleKey != null" >
        AND MODULE_TITLE_KEY = #{moduleTitleKey,jdbcType=VARCHAR}
      </if>
      <if test="parentId != null" >
        AND PARENT_ID = #{parentId,jdbcType=VARCHAR}
      </if>
      <if test="moduleLevel != null" >
        AND MODULE_LEVEL = #{moduleLevel,jdbcType=SMALLINT}
      </if>
      <if test="showable != null" >
        AND SHOWABLE = #{showable,jdbcType=BIT}
      </if>
      <if test="showSort != null" >
        AND SHOW_SORT = #{showSort,jdbcType=DECIMAL}
      </if>
      <if test="moduleLink != null" >
        AND MODULE_LINK = #{moduleLink,jdbcType=VARCHAR}
      </if>
    </where>
  </delete>
  
  <insert id="insert" parameterType="com.pracbiz.b2bportal.core.holder.ModuleHolder" >
    insert into MODULE (MODULE_ID, MODULE_NAME, MODULE_TITLE_KEY, 
      PARENT_ID, MODULE_LEVEL, SHOWABLE, 
      SHOW_SORT, MODULE_LINK)
    values (#{moduleId,jdbcType=VARCHAR}, #{moduleName,jdbcType=VARCHAR}, #{moduleTitleKey,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=VARCHAR}, #{moduleLevel,jdbcType=SMALLINT}, #{showable,jdbcType=BIT}, 
      #{showSort,jdbcType=DECIMAL}, #{moduleLink,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.pracbiz.b2bportal.core.holder.ModuleHolder" >
    update MODULE
    <set >
      <if test="moduleName != null" >
        MODULE_NAME = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleTitleKey != null" >
        MODULE_TITLE_KEY = #{moduleTitleKey,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="moduleLevel != null" >
        MODULE_LEVEL = #{moduleLevel,jdbcType=SMALLINT},
      </if>
      <if test="showable != null" >
        SHOWABLE = #{showable,jdbcType=BIT},
      </if>
      <if test="showSort != null" >
        SHOW_SORT = #{showSort,jdbcType=DECIMAL},
      </if>
      <if test="moduleLink != null" >
        MODULE_LINK = #{moduleLink,jdbcType=VARCHAR},
      </if>
    </set>
    where MODULE_ID = #{moduleId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.pracbiz.b2bportal.core.holder.ModuleHolder" >
    update MODULE
    set MODULE_NAME = #{moduleName,jdbcType=VARCHAR},
      MODULE_TITLE_KEY = #{moduleTitleKey,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=VARCHAR},
      MODULE_LEVEL = #{moduleLevel,jdbcType=SMALLINT},
      SHOWABLE = #{showable,jdbcType=BIT},
      SHOW_SORT = #{showSort,jdbcType=DECIMAL},
      MODULE_LINK = #{moduleLink,jdbcType=VARCHAR}
    where MODULE_ID = #{moduleId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectModulesByUser" parameterType="java.math.BigDecimal" resultMap="exResultMap" >
  	SELECT DISTINCT M.MODULE_ID, M.MODULE_NAME, M.MODULE_TITLE_KEY, M.PARENT_ID, M.MODULE_LEVEL, M.SHOWABLE, M.SHOW_SORT, M.MODULE_LINK
  	FROM MODULE M, (

	SELECT DISTINCT M.MODULE_ID, M.MODULE_NAME, M.MODULE_TITLE_KEY, M.PARENT_ID, M.MODULE_LEVEL, M.SHOWABLE, M.SHOW_SORT, M.MODULE_LINK
	FROM MODULE M, OPERATION O, ROLE_OPERATION RO, ROLE_USER RU
	WHERE M.MODULE_ID = O.MODULE_ID
	AND O.OPN_ID = RO.OPN_ID
	AND RO.ROLE_OID = RU.ROLE_OID
	AND RU.USER_OID = #{userOid,jdbcType=DECIMAL}
	) M2
	
	WHERE M.MODULE_ID = M2.MODULE_ID
	OR M2.PARENT_ID = M.MODULE_ID
	ORDER BY SHOW_SORT ASC
  </select>
  
  <select id="selectModulesByGroup" parameterType="java.math.BigDecimal" resultMap="exResultMap" >
    SELECT DISTINCT M.MODULE_ID, M.MODULE_NAME, M.MODULE_TITLE_KEY, M.PARENT_ID, M.MODULE_LEVEL, M.SHOWABLE, M.SHOW_SORT, M.MODULE_LINK
    FROM MODULE M, (

	SELECT DISTINCT M.MODULE_ID, M.MODULE_NAME, M.MODULE_TITLE_KEY, M.PARENT_ID, M.MODULE_LEVEL, M.SHOWABLE, M.SHOW_SORT, M.MODULE_LINK
	FROM MODULE M, OPERATION O, ROLE_OPERATION RO, ROLE_GROUP RG
	    WHERE M.MODULE_ID = O.MODULE_ID
	    AND O.OPN_ID = RO.OPN_ID
	    AND RO.ROLE_OID = RG.ROLE_OID
	    AND RG.GROUP_OID = #{groupOid,jdbcType=DECIMAL}
	) M2
	
	WHERE M.MODULE_ID = M2.MODULE_ID
	OR M2.PARENT_ID = M.MODULE_ID
	ORDER BY SHOW_SORT ASC
  </select>
</mapper>