<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pracbiz.b2bportal.core.mapper.ResetPasswordRequestHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.pracbiz.b2bportal.core.holder.ResetPasswordRequestHistoryHolder" >
    <result column="HASH_CODE" property="hashCode" jdbcType="VARCHAR" />
    <result column="LOGIN_ID" property="loginId" jdbcType="VARCHAR" />
    <result column="REQUEST_TIME" property="requestTime" jdbcType="TIMESTAMP" />
    <result column="CLIENT_IP" property="clientIp" jdbcType="VARCHAR" />
    <result column="VALID" property="valid" jdbcType="BIT" />
  </resultMap>
    
  <sql id="Base_Column_List" >
    HASH_CODE, LOGIN_ID, REQUEST_TIME, CLIENT_IP, VALID
  </sql>
  
  <insert id="insert" parameterType="com.pracbiz.b2bportal.core.holder.ResetPasswordRequestHistoryHolder" >
    insert into RESET_PASSWORD_REQUEST_HISTORY (HASH_CODE, LOGIN_ID, REQUEST_TIME, 
      CLIENT_IP, VALID)
    values (#{hashCode,jdbcType=VARCHAR}, #{loginId,jdbcType=VARCHAR}, #{requestTime,jdbcType=TIMESTAMP}, 
      #{clientIp,jdbcType=VARCHAR}, #{valid,jdbcType=BIT})
  </insert>
  
  <select id="select" resultMap="BaseResultMap" parameterType="com.pracbiz.b2bportal.core.holder.ResetPasswordRequestHistoryHolder" >
    select 
    <include refid="Base_Column_List" />
    from RESET_PASSWORD_REQUEST_HISTORY
    <where>
      <if test="hashCode != null" >
        HASH_CODE = #{hashCode,jdbcType=VARCHAR}
      </if>
      <if test="loginId != null" >
        AND LOGIN_ID = #{loginId,jdbcType=VARCHAR}
      </if>
      <if test="requestTime != null" >
        AND REQUEST_TIME = #{requestTime,jdbcType=TIMESTAMP}
      </if>
      <if test="clientIp != null" >
        AND CLIENT_IP = #{clientIp,jdbcType=VARCHAR}
      </if>
      <if test="valid != null" >
        AND VALID = #{valid,jdbcType=BIT}
      </if>
    </where>
  </select>
  
  <delete id="delete" parameterType="com.pracbiz.b2bportal.core.holder.ResetPasswordRequestHistoryHolder" >
    delete from RESET_PASSWORD_REQUEST_HISTORY
	<where>
      <if test="hashCode != null" >
        HASH_CODE = #{hashCode,jdbcType=VARCHAR}
      </if>
      <if test="loginId != null" >
        AND LOGIN_ID = #{loginId,jdbcType=VARCHAR}
      </if>
      <if test="requestTime != null" >
        AND REQUEST_TIME = #{requestTime,jdbcType=TIMESTAMP}
      </if>
      <if test="clientIp != null" >
        AND CLIENT_IP = #{clientIp,jdbcType=VARCHAR}
      </if>
      <if test="valid != null" >
        AND VALID = #{valid,jdbcType=BIT}
      </if>
    </where>
  </delete>
   
  <update id="updateByPrimaryKeySelective" parameterType="com.pracbiz.b2bportal.core.holder.ResetPasswordRequestHistoryHolder" >
    update RESET_PASSWORD_REQUEST_HISTORY
    <set >
      <if test="loginId != null" >
        LOGIN_ID = #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null" >
        REQUEST_TIME = #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clientIp != null" >
        CLIENT_IP = #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        VALID = #{valid,jdbcType=BIT},
      </if>
    </set>
    where HASH_CODE = #{hashCode,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.pracbiz.b2bportal.core.holder.ResetPasswordRequestHistoryHolder" >
    update RESET_PASSWORD_REQUEST_HISTORY
    set LOGIN_ID = #{loginId,jdbcType=VARCHAR},
      REQUEST_TIME = #{requestTime,jdbcType=TIMESTAMP},
      CLIENT_IP = #{clientIp,jdbcType=VARCHAR},
      VALID = #{valid,jdbcType=DATE}
    where HASH_CODE = #{hashCode,jdbcType=VARCHAR}
  </update>
</mapper>