<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pracbiz.b2bportal.core.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.pracbiz.b2bportal.core.holder.RoleHolder" >
    <id column="ROLE_OID" property="roleOid" jdbcType="DECIMAL" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="ROLE_TYPE" property="roleType" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="CREATED_FROM_SYSADMIN" property="createdFromSysadmin" jdbcType="BIT" />
    <result column="USER_TYPE_OID" property="userTypeOid" jdbcType="DECIMAL" />
    <result column="BUYER_OID" property="buyerOid" jdbcType="DECIMAL" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ROLE_OID, ROLE_ID, ROLE_NAME, ROLE_TYPE, CREATE_DATE, CREATE_BY, UPDATE_DATE, UPDATE_BY, CREATED_FROM_SYSADMIN,
    USER_TYPE_OID, BUYER_OID
  </sql>
  
  <select id="select" resultMap="BaseResultMap" parameterType="com.pracbiz.b2bportal.core.holder.RoleHolder" >
    select 
    <include refid="Base_Column_List" />
    from ROLE
    <where>
      <if test="roleOid != null" >
        ROLE_OID = #{roleOid,jdbcType=DECIMAL}
      </if>
      <if test="roleId != null" >
        AND ROLE_ID = #{roleId,jdbcType=VARCHAR}
      </if>
      <if test="roleName != null" >
        AND ROLE_NAME = #{roleName,jdbcType=VARCHAR}
      </if>
      <if test="roleType != null" >
        AND ROLE_TYPE = #{roleType,jdbcType=CHAR}
      </if>
      <if test="createDate != null" >
        AND CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null" >
        AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
      </if>
      <if test="updateDate != null" >
        AND UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null" >
        AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
      </if>
      <if test="userTypeOid != null" >
        AND USER_TYPE_OID = #{userTypeOid,jdbcType=DECIMAL}
      </if>
      <if test="buyerOid != null" >
        AND BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
      </if>
      <if test="createdFromSysadmin != null" >
        AND CREATED_FROM_SYSADMIN = #{createdFromSysadmin,jdbcType=BIT}
      </if>
      <if test="sortField != null" >
        ORDER BY ${sortField} ${sortOrder}
      </if>
    </where>
  </select>
  
  <delete id="delete" parameterType="com.pracbiz.b2bportal.core.holder.RoleHolder" >
    delete from ROLE
    <where>
      <if test="roleOid != null" >
        ROLE_OID = #{roleOid,jdbcType=DECIMAL}
      </if>
      <if test="roleId != null" >
        AND ROLE_ID = #{roleId,jdbcType=VARCHAR}
      </if>
      <if test="roleName != null" >
        AND ROLE_NAME = #{roleName,jdbcType=VARCHAR}
      </if>
      <if test="roleType != null" >
        AND ROLE_TYPE = #{roleType,jdbcType=VARCHAR}
      </if>
      <if test="createDate != null" >
        AND CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null" >
        AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
      </if>
      <if test="updateDate != null" >
        AND UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null" >
        AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
      </if>
      <if test="userTypeOid != null" >
        AND USER_TYPE_OID = #{userTypeOid,jdbcType=DECIMAL}
      </if>
      <if test="buyerOid != null" >
        AND BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
      </if>
      <if test="createdFromSysadmin != null" >
        AND CREATED_FROM_SYSADMIN = #{createdFromSysadmin,jdbcType=BIT}
      </if>
    </where>
  </delete>
  
  <insert id="insert" parameterType="com.pracbiz.b2bportal.core.holder.RoleHolder" >
    insert into ROLE (ROLE_OID, ROLE_ID, ROLE_NAME, 
      ROLE_TYPE, CREATE_DATE, CREATE_BY, 
      UPDATE_DATE, UPDATE_BY, CREATED_FROM_SYSADMIN, USER_TYPE_OID, BUYER_OID)
    values (#{roleOid,jdbcType=DECIMAL}, #{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{roleType,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{createdFromSysadmin,jdbcType=BIT}, 
      #{userTypeOid,jdbcType=DECIMAL}, #{buyerOid,jdbcType=DECIMAL})
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.pracbiz.b2bportal.core.holder.RoleHolder" >
    update ROLE
    <set >
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        ROLE_TYPE = #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="userTypeOid != null" >
        USER_TYPE_OID = #{userTypeOid,jdbcType=DECIMAL},
      </if>
      <if test="buyerOid != null" >
        BUYER_OID = #{buyerOid,jdbcType=DECIMAL},
      </if>
      <if test="createdFromSysadmin != null" >
        CREATED_FROM_SYSADMIN = #{createdFromSysadmin,jdbcType=BIT},
      </if>
    </set>
    where ROLE_OID = #{roleOid,jdbcType=DECIMAL}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.pracbiz.b2bportal.core.holder.RoleHolder" >
    update ROLE
    set ROLE_ID = #{roleId,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      ROLE_TYPE = #{roleType,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      USER_TYPE_OID = #{userTypeOid,jdbcType=DECIMAL},
      BUYER_OID = #{buyerOid,jdbcType=DECIMAL},
      CREATED_FROM_SYSADMIN = #{createdFromSysadmin,jdbcType=BIT}
    where ROLE_OID = #{roleOid,jdbcType=DECIMAL}
  </update>
  
  <select id="selectAdminRoleById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM ROLE
    WHERE
    ROLE_ID = #{roleId,jdbcType=VARCHAR}
    AND ROLE_TYPE='ADMIN'
    ORDER BY R.ROLE_NAME ASC
  </select>
  
  <select id="selectRolesByUserOid" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    SELECT 
    R.ROLE_OID, R.ROLE_ID, R.ROLE_NAME, R.ROLE_TYPE, R.CREATE_DATE, R.CREATE_BY, R.UPDATE_DATE, 
	R.UPDATE_BY, R.CREATED_FROM_SYSADMIN, R.USER_TYPE_OID, R.BUYER_OID
    FROM ROLE R, ROLE_USER RU
    WHERE
    R.ROLE_OID = RU.ROLE_OID
    AND RU.USER_OID = #{userOid,jdbcType=DECIMAL}
    ORDER BY ROLE_NAME ASC
  </select>
  
  <select id="selectRolesByGroupOid" resultMap="BaseResultMap"  parameterType="java.math.BigDecimal" >
        SELECT R.ROLE_OID, R.ROLE_ID, R.ROLE_NAME, R.ROLE_TYPE, R.CREATE_DATE, R.CREATE_BY, R.UPDATE_DATE, 
		R.UPDATE_BY, R.CREATED_FROM_SYSADMIN, R.USER_TYPE_OID, R.BUYER_OID
        FROM ROLE R, ROLE_GROUP RG
        WHERE R.ROLE_OID = RG.ROLE_OID
        AND RG.GROUP_OID = #{groupOid,jdbcType=DECIMAL}
        ORDER BY ROLE_NAME ASC
  </select>
  
  <select id="selectRolesByTmpGroupOid" resultMap="BaseResultMap"  parameterType="java.math.BigDecimal" >
        SELECT R.ROLE_OID, R.ROLE_ID, R.ROLE_NAME, R.ROLE_TYPE, R.CREATE_DATE, R.CREATE_BY, R.UPDATE_DATE, 
		R.UPDATE_BY, R.CREATED_FROM_SYSADMIN, R.USER_TYPE_OID, R.BUYER_OID
        FROM ROLE R, T_ROLE_GROUP RG
        WHERE R.ROLE_OID = RG.ROLE_OID
        AND RG.GROUP_OID = #{groupOid,jdbcType=DECIMAL}
        ORDER BY ROLE_NAME ASC
  </select>
  
  <select id="selectSupplierRoleById" resultMap="BaseResultMap"  parameterType="java.util.Map" >
        SELECT R.ROLE_OID, R.ROLE_ID, R.ROLE_NAME, R.ROLE_TYPE, R.CREATE_DATE, R.CREATE_BY, R.UPDATE_DATE, 
		R.UPDATE_BY, R.CREATED_FROM_SYSADMIN, R.USER_TYPE_OID, R.BUYER_OID
        FROM ROLE R, SUPPLIER_ROLE SR
        WHERE R.ROLE_OID = SR.ROLE_OID
        AND R.ROLE_ID = #{roleId,jdbcType=VARCHAR}
        AND SR.SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL}
        ORDER BY ROLE_NAME ASC
  </select>
  
  <select id="selectSupplierRolesBySupplierOidAndUserType" resultMap="BaseResultMap"  parameterType="java.util.Map" >
        SELECT R.ROLE_OID, R.ROLE_ID, R.ROLE_NAME, R.ROLE_TYPE, R.CREATE_DATE, R.CREATE_BY, R.UPDATE_DATE, 
		R.UPDATE_BY, R.CREATED_FROM_SYSADMIN, R.USER_TYPE_OID, R.BUYER_OID
        FROM ROLE R, SUPPLIER_ROLE SR
        WHERE R.ROLE_OID = SR.ROLE_OID
        AND R.USER_TYPE_OID = #{userTypeOid,jdbcType=DECIMAL}
        AND SR.SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL}
        UNION
        SELECT R.* FROM ROLE R
		WHERE R.USER_TYPE_OID = #{userTypeOid,jdbcType=DECIMAL}
		AND EXISTS
		(SELECT * FROM SUPPLIER_ROLE SR WHERE SR.ROLE_OID = R.ROLE_OID AND SR.SUPPLIER_OID = -1 AND
		EXISTS (SELECT * FROM TRADING_PARTNER TP WHERE TP.SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL} AND TP.BUYER_OID = R.BUYER_OID))
  </select>
</mapper>