<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pracbiz.b2bportal.core.mapper.RoleUserTmpMapper" >
  <resultMap id="BaseResultMap" type="com.pracbiz.b2bportal.core.holder.RoleUserTmpHolder" >
    <id column="ROLE_OID" property="roleOid" jdbcType="DECIMAL" />
    <id column="USER_OID" property="userOid" jdbcType="DECIMAL" />
  </resultMap>
  
 <select id="select" resultMap="BaseResultMap" parameterType="com.pracbiz.b2bportal.core.holder.RoleUserTmpHolder" >
    select ROLE_OID, USER_OID
    from T_ROLE_USER
    <where>
      <if test="roleOid != null" >
        ROLE_OID = #{roleOid,jdbcType=DECIMAL}
      </if>
      <if test="userOid != null" >
        AND USER_OID = #{userOid,jdbcType=DECIMAL}
      </if>
    </where>
  </select>
  
  <delete id="delete" parameterType="com.pracbiz.b2bportal.core.holder.RoleUserTmpHolder" >
    delete from T_ROLE_USER
    <where>
      <if test="roleOid != null" >
        ROLE_OID = #{roleOid,jdbcType=DECIMAL}
      </if>
      <if test="userOid != null" >
        AND USER_OID = #{userOid,jdbcType=DECIMAL}
      </if>
    </where>
  </delete>
  
  <insert id="insert" parameterType="com.pracbiz.b2bportal.core.holder.RoleUserTmpHolder" >
    insert into T_ROLE_USER (ROLE_OID, USER_OID)
    values (#{roleOid,jdbcType=DECIMAL}, #{userOid,jdbcType=DECIMAL})
  </insert>
 
</mapper>