<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pracbiz.b2bportal.core.mapper.RtvHeaderMapper" >
  <resultMap id="BaseResultMap" type="com.pracbiz.b2bportal.core.holder.RtvHeaderHolder" >
    <id column="RTV_OID" property="rtvOid" jdbcType="DECIMAL" />
    <result column="RTV_NO" property="rtvNo" jdbcType="VARCHAR" />
    <result column="DOC_ACTION" property="docAction" jdbcType="CHAR" />
    <result column="ACTION_DATE" property="actionDate" jdbcType="TIMESTAMP" />
    <result column="RTV_DATE" property="rtvDate" jdbcType="DATE" />
    <result column="COLLECTION_DATE" property="collectionDate" jdbcType="DATE" />
    <result column="DO_NO" property="doNo" jdbcType="VARCHAR" />
    <result column="DO_DATE" property="doDate" jdbcType="DATE" />
    <result column="INV_NO" property="invNo" jdbcType="VARCHAR" />
    <result column="INV_DATE" property="invDate" jdbcType="DATE" />
    <result column="BUYER_OID" property="buyerOid" jdbcType="DECIMAL" />
    <result column="BUYER_CODE" property="buyerCode" jdbcType="VARCHAR" />
    <result column="BUYER_NAME" property="buyerName" jdbcType="VARCHAR" />
    <result column="BUYER_ADDR1" property="buyerAddr1" jdbcType="VARCHAR" />
    <result column="BUYER_ADDR2" property="buyerAddr2" jdbcType="VARCHAR" />
    <result column="BUYER_ADDR3" property="buyerAddr3" jdbcType="VARCHAR" />
    <result column="BUYER_ADDR4" property="buyerAddr4" jdbcType="VARCHAR" />
    <result column="BUYER_CITY" property="buyerCity" jdbcType="VARCHAR" />
    <result column="BUYER_STATE" property="buyerState" jdbcType="VARCHAR" />
    <result column="BUYER_CTRY_CODE" property="buyerCtryCode" jdbcType="CHAR" />
    <result column="BUYER_POSTAL_CODE" property="buyerPostalCode" jdbcType="VARCHAR" />
    <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="SUB_DEPT_CODE" property="subDeptCode" jdbcType="VARCHAR" />
    <result column="SUB_DEPT_NAME" property="subDeptName" jdbcType="VARCHAR" />
    <result column="SUPPLIER_OID" property="supplierOid" jdbcType="DECIMAL" />
    <result column="SUPPLIER_CODE" property="supplierCode" jdbcType="VARCHAR" />
    <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR" />
    <result column="SUPPLIER_ADDR1" property="supplierAddr1" jdbcType="VARCHAR" />
    <result column="SUPPLIER_ADDR2" property="supplierAddr2" jdbcType="VARCHAR" />
    <result column="SUPPLIER_ADDR3" property="supplierAddr3" jdbcType="VARCHAR" />
    <result column="SUPPLIER_ADDR4" property="supplierAddr4" jdbcType="VARCHAR" />
    <result column="SUPPLIER_CITY" property="supplierCity" jdbcType="VARCHAR" />
    <result column="SUPPLIER_STATE" property="supplierState" jdbcType="VARCHAR" />
    <result column="SUPPLIER_CTRY_CODE" property="supplierCtryCode" jdbcType="CHAR" />
    <result column="SUPPLIER_POSTAL_CODE" property="supplierPostalCode" jdbcType="VARCHAR" />
    <result column="TOTAL_COST" property="totalCost" jdbcType="DECIMAL" />
    <result column="REASON_CODE" property="reasonCode" jdbcType="VARCHAR" />
    <result column="REASON_DESC" property="reasonDesc" jdbcType="VARCHAR" />
    <result column="RTV_REMARKS" property="rtvRemarks" jdbcType="VARCHAR" />
    <result column="CTRL_STATUS" property="rtvStatus" jdbcType="VARCHAR" />
	<result column="DUPLICATE"  property="duplicate" jdbcType="BIT"/>
  </resultMap>
  <sql id="Base_Column_List" >
    RTV_OID, RTV_NO, DOC_ACTION, ACTION_DATE, RTV_DATE, COLLECTION_DATE, DO_NO, DO_DATE, INV_NO, INV_DATE, 
    BUYER_OID, BUYER_CODE, BUYER_NAME, BUYER_ADDR1, BUYER_ADDR2, BUYER_ADDR3, BUYER_ADDR4, 
    BUYER_CITY, BUYER_STATE, BUYER_CTRY_CODE, BUYER_POSTAL_CODE, DEPT_CODE, DEPT_NAME, 
    SUB_DEPT_CODE, SUB_DEPT_NAME, SUPPLIER_OID, SUPPLIER_CODE, SUPPLIER_NAME, SUPPLIER_ADDR1, 
    SUPPLIER_ADDR2, SUPPLIER_ADDR3, SUPPLIER_ADDR4, SUPPLIER_CITY, SUPPLIER_STATE, SUPPLIER_CTRY_CODE, 
    SUPPLIER_POSTAL_CODE, TOTAL_COST, REASON_CODE, REASON_DESC, RTV_REMARKS, CTRL_STATUS, DUPLICATE
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="com.pracbiz.b2bportal.core.holder.RtvHeaderHolder" >
    select 
    <include refid="Base_Column_List" />
    from RTV_HEADER
    <where>
      <if test="rtvOid != null" >
        RTV_OID = #{rtvOid,jdbcType=DECIMAL}
      </if>
      <if test="rtvNo != null" >
        and RTV_NO = #{rtvNo,jdbcType=VARCHAR}
      </if>
      <if test="docAction != null" >
        and DOC_ACTION = #{docAction,jdbcType=CHAR}
      </if>
      <if test="actionDate != null" >
        and ACTION_DATE = #{actionDate,jdbcType=TIMESTAMP}
      </if>
      <if test="rtvDate != null" >
        and RTV_DATE = #{rtvDate,jdbcType=DATE}
      </if>
      <if test="collectionDate != null" >
        and COLLECTION_DATE = #{collectionDate,jdbcType=DATE}
      </if>
      <if test="doNo != null" >
        and DO_NO = #{doNo,jdbcType=VARCHAR}
      </if>
      <if test="doDate != null" >
        and DO_DATE = #{doDate,jdbcType=DATE}
      </if>
      <if test="invNo != null" >
        and INV_NO = #{invNo,jdbcType=VARCHAR}
      </if>
      <if test="invDate != null" >
        and INV_DATE = #{invDate,jdbcType=DATE}
      </if>
      <if test="buyerOid != null" >
        and BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
      </if>
      <if test="buyerCode != null" >
        and BUYER_CODE = #{buyerCode,jdbcType=VARCHAR}
      </if>
      <if test="buyerName != null" >
        and BUYER_NAME = #{buyerName,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr1 != null" >
        and BUYER_ADDR1 = #{buyerAddr1,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr2 != null" >
        and BUYER_ADDR2 = #{buyerAddr2,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr3 != null" >
        and BUYER_ADDR3 = #{buyerAddr3,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr4 != null" >
        and BUYER_ADDR4 = #{buyerAddr4,jdbcType=VARCHAR}
      </if>
      <if test="buyerCity != null" >
        and BUYER_CITY = #{buyerCity,jdbcType=VARCHAR}
      </if>
      <if test="buyerState != null" >
        and BUYER_STATE = #{buyerState,jdbcType=VARCHAR}
      </if>
      <if test="buyerCtryCode != null" >
        and BUYER_CTRY_CODE = #{buyerCtryCode,jdbcType=CHAR}
      </if>
      <if test="buyerPostalCode != null" >
        and BUYER_POSTAL_CODE = #{buyerPostalCode,jdbcType=VARCHAR}
      </if>
      <if test="deptCode != null" >
        and DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
      </if>
      <if test="deptName != null" >
        and DEPT_NAME = #{deptName,jdbcType=VARCHAR}
      </if>
      <if test="subDeptCode != null" >
        and SUB_DEPT_CODE = #{subDeptCode,jdbcType=VARCHAR}
      </if>
      <if test="subDeptName != null" >
        and SUB_DEPT_NAME = #{subDeptName,jdbcType=VARCHAR}
      </if>
      <if test="supplierOid != null" >
        and SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL}
      </if>
      <if test="supplierCode != null" >
        and SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR}
      </if>
      <if test="supplierName != null" >
        and SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr1 != null" >
        and SUPPLIER_ADDR1 = #{supplierAddr1,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr2 != null" >
        and SUPPLIER_ADDR2 = #{supplierAddr2,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr3 != null" >
        and SUPPLIER_ADDR3 = #{supplierAddr3,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr4 != null" >
        and SUPPLIER_ADDR4 = #{supplierAddr4,jdbcType=VARCHAR}
      </if>
      <if test="supplierCity != null" >
        and SUPPLIER_CITY = #{supplierCity,jdbcType=VARCHAR}
      </if>
      <if test="supplierState != null" >
        and SUPPLIER_STATE = #{supplierState,jdbcType=VARCHAR}
      </if>
      <if test="supplierCtryCode != null" >
        and SUPPLIER_CTRY_CODE = #{supplierCtryCode,jdbcType=CHAR}
      </if>
      <if test="supplierPostalCode != null" >
        and SUPPLIER_POSTAL_CODE = #{supplierPostalCode,jdbcType=VARCHAR}
      </if>
      <if test="totalCost != null" >
        and TOTAL_COST = #{totalCost,jdbcType=DECIMAL}
      </if>
      <if test="reasonCode != null" >
        and REASON_CODE = #{reasonCode,jdbcType=VARCHAR}
      </if>
      <if test="reasonDesc != null" >
        and REASON_DESC = #{reasonDesc,jdbcType=VARCHAR}
      </if>
      <if test="rtvRemarks != null" >
        and RTV_REMARKS = #{rtvRemarks,jdbcType=VARCHAR}
      </if>
	  <if test="rtvStatus != null" >
        and CTRL_STATUS = #{rtvStatus,jdbcType=VARCHAR}
      </if>
      <if test="duplicate != null" >
        and DUPLICATE = #{duplicate,jdbcType=BIT}
      </if>
    </where>
  </select>
  <delete id="delete" parameterType="com.pracbiz.b2bportal.core.holder.RtvHeaderHolder" >
    delete from RTV_HEADER
    <where>
      <if test="rtvOid != null" >
        RTV_OID = #{rtvOid,jdbcType=DECIMAL}
      </if>
      <if test="rtvNo != null" >
        and RTV_NO = #{rtvNo,jdbcType=VARCHAR}
      </if>
      <if test="docAction != null" >
        and DOC_ACTION = #{docAction,jdbcType=CHAR}
      </if>
      <if test="actionDate != null" >
        and ACTION_DATE = #{actionDate,jdbcType=TIMESTAMP}
      </if>
      <if test="rtvDate != null" >
        and RTV_DATE = #{rtvDate,jdbcType=DATE}
      </if>
      <if test="collectionDate != null" >
        and COLLECTION_DATE = #{collectionDate,jdbcType=DATE}
      </if>
      <if test="doNo != null" >
        and DO_NO = #{doNo,jdbcType=VARCHAR}
      </if>
      <if test="doDate != null" >
        and DO_DATE = #{doDate,jdbcType=DATE}
      </if>
      <if test="invNo != null" >
        and INV_NO = #{invNo,jdbcType=VARCHAR}
      </if>
      <if test="invDate != null" >
        and INV_DATE = #{invDate,jdbcType=DATE}
      </if>
      <if test="buyerOid != null" >
        and BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
      </if>
      <if test="buyerCode != null" >
        and BUYER_CODE = #{buyerCode,jdbcType=VARCHAR}
      </if>
      <if test="buyerName != null" >
        and BUYER_NAME = #{buyerName,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr1 != null" >
        and BUYER_ADDR1 = #{buyerAddr1,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr2 != null" >
        and BUYER_ADDR2 = #{buyerAddr2,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr3 != null" >
        and BUYER_ADDR3 = #{buyerAddr3,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr4 != null" >
        and BUYER_ADDR4 = #{buyerAddr4,jdbcType=VARCHAR}
      </if>
      <if test="buyerCity != null" >
        and BUYER_CITY = #{buyerCity,jdbcType=VARCHAR}
      </if>
      <if test="buyerState != null" >
        and BUYER_STATE = #{buyerState,jdbcType=VARCHAR}
      </if>
      <if test="buyerCtryCode != null" >
        and BUYER_CTRY_CODE = #{buyerCtryCode,jdbcType=CHAR}
      </if>
      <if test="buyerPostalCode != null" >
        and BUYER_POSTAL_CODE = #{buyerPostalCode,jdbcType=VARCHAR}
      </if>
      <if test="deptCode != null" >
        and DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
      </if>
      <if test="deptName != null" >
        and DEPT_NAME = #{deptName,jdbcType=VARCHAR}
      </if>
      <if test="subDeptCode != null" >
        and SUB_DEPT_CODE = #{subDeptCode,jdbcType=VARCHAR}
      </if>
      <if test="subDeptName != null" >
        and SUB_DEPT_NAME = #{subDeptName,jdbcType=VARCHAR}
      </if>
      <if test="supplierOid != null" >
        and SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL}
      </if>
      <if test="supplierCode != null" >
        and SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR}
      </if>
      <if test="supplierName != null" >
        and SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr1 != null" >
        and SUPPLIER_ADDR1 = #{supplierAddr1,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr2 != null" >
        and SUPPLIER_ADDR2 = #{supplierAddr2,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr3 != null" >
        and SUPPLIER_ADDR3 = #{supplierAddr3,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr4 != null" >
        and SUPPLIER_ADDR4 = #{supplierAddr4,jdbcType=VARCHAR}
      </if>
      <if test="supplierCity != null" >
        and SUPPLIER_CITY = #{supplierCity,jdbcType=VARCHAR}
      </if>
      <if test="supplierState != null" >
        and SUPPLIER_STATE = #{supplierState,jdbcType=VARCHAR}
      </if>
      <if test="supplierCtryCode != null" >
        and SUPPLIER_CTRY_CODE = #{supplierCtryCode,jdbcType=CHAR}
      </if>
      <if test="supplierPostalCode != null" >
        and SUPPLIER_POSTAL_CODE = #{supplierPostalCode,jdbcType=VARCHAR}
      </if>
      <if test="totalCost != null" >
        and TOTAL_COST = #{totalCost,jdbcType=DECIMAL}
      </if>
      <if test="reasonCode != null" >
        and REASON_CODE = #{reasonCode,jdbcType=VARCHAR}
      </if>
      <if test="reasonDesc != null" >
        and REASON_DESC = #{reasonDesc,jdbcType=VARCHAR}
      </if>
      <if test="rtvRemarks != null" >
        and RTV_REMARKS = #{rtvRemarks,jdbcType=VARCHAR}
      </if>
	  <if test="rtvStatus != null" >
        and CTRL_STATUS = #{rtvStatus,jdbcType=VARCHAR}
      </if>
      <if test="duplicate != null" >
        and DUPLICATE = #{duplicate,jdbcType=BIT}
      </if>
    </where>
  </delete>
  <insert id="insert" parameterType="com.pracbiz.b2bportal.core.holder.RtvHeaderHolder" >
    insert into RTV_HEADER (RTV_OID, RTV_NO, DOC_ACTION, 
      ACTION_DATE, RTV_DATE, COLLECTION_DATE, DO_NO, 
      DO_DATE, INV_NO, INV_DATE, BUYER_OID, 
      BUYER_CODE, BUYER_NAME, BUYER_ADDR1, 
      BUYER_ADDR2, BUYER_ADDR3, BUYER_ADDR4, 
      BUYER_CITY, BUYER_STATE, BUYER_CTRY_CODE, 
      BUYER_POSTAL_CODE, DEPT_CODE, DEPT_NAME, 
      SUB_DEPT_CODE, SUB_DEPT_NAME, SUPPLIER_OID, 
      SUPPLIER_CODE, SUPPLIER_NAME, SUPPLIER_ADDR1, 
      SUPPLIER_ADDR2, SUPPLIER_ADDR3, SUPPLIER_ADDR4, 
      SUPPLIER_CITY, SUPPLIER_STATE, SUPPLIER_CTRY_CODE, 
      SUPPLIER_POSTAL_CODE, TOTAL_COST, REASON_CODE, 
      REASON_DESC, RTV_REMARKS, CTRL_STATUS, DUPLICATE)
    values (#{rtvOid,jdbcType=DECIMAL}, #{rtvNo,jdbcType=VARCHAR}, #{docAction,jdbcType=CHAR}, 
      #{actionDate,jdbcType=TIMESTAMP}, #{rtvDate,jdbcType=DATE}, #{collectionDate,jdbcType=DATE}, #{doNo,jdbcType=VARCHAR}, 
      #{doDate,jdbcType=DATE}, #{invNo,jdbcType=VARCHAR}, #{invDate,jdbcType=DATE}, #{buyerOid,jdbcType=DECIMAL}, 
      #{buyerCode,jdbcType=VARCHAR}, #{buyerName,jdbcType=VARCHAR}, #{buyerAddr1,jdbcType=VARCHAR}, 
      #{buyerAddr2,jdbcType=VARCHAR}, #{buyerAddr3,jdbcType=VARCHAR}, #{buyerAddr4,jdbcType=VARCHAR}, 
      #{buyerCity,jdbcType=VARCHAR}, #{buyerState,jdbcType=VARCHAR}, #{buyerCtryCode,jdbcType=CHAR}, 
      #{buyerPostalCode,jdbcType=VARCHAR}, #{deptCode,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{subDeptCode,jdbcType=VARCHAR}, #{subDeptName,jdbcType=VARCHAR}, #{supplierOid,jdbcType=DECIMAL}, 
      #{supplierCode,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, #{supplierAddr1,jdbcType=VARCHAR}, 
      #{supplierAddr2,jdbcType=VARCHAR}, #{supplierAddr3,jdbcType=VARCHAR}, #{supplierAddr4,jdbcType=VARCHAR}, 
      #{supplierCity,jdbcType=VARCHAR}, #{supplierState,jdbcType=VARCHAR}, #{supplierCtryCode,jdbcType=CHAR}, 
      #{supplierPostalCode,jdbcType=VARCHAR}, #{totalCost,jdbcType=DECIMAL}, #{reasonCode,jdbcType=VARCHAR}, 
      #{reasonDesc,jdbcType=VARCHAR}, #{rtvRemarks,jdbcType=VARCHAR}, #{rtvStatus,jdbcType=VARCHAR}, 
      #{duplicate,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pracbiz.b2bportal.core.holder.RtvHeaderHolder" >
    update RTV_HEADER
    <set >
      <if test="rtvNo != null" >
        RTV_NO = #{rtvNo,jdbcType=VARCHAR},
      </if>
      <if test="docAction != null" >
        DOC_ACTION = #{docAction,jdbcType=CHAR},
      </if>
      <if test="actionDate != null" >
        ACTION_DATE = #{actionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rtvDate != null" >
        RTV_DATE = #{rtvDate,jdbcType=DATE},
      </if>
      <if test="collectionDate != null" >
        COLLECTION_DATE = #{collectionDate,jdbcType=DATE},
      </if>
      <if test="doNo != null" >
        DO_NO = #{doNo,jdbcType=VARCHAR},
      </if>
      <if test="doDate != null" >
        DO_DATE = #{doDate,jdbcType=DATE},
      </if>
      <if test="invNo != null" >
        INV_NO = #{invNo,jdbcType=VARCHAR},
      </if>
      <if test="invDate != null" >
        INV_DATE = #{invDate,jdbcType=DATE},
      </if>
      <if test="buyerOid != null" >
        BUYER_OID = #{buyerOid,jdbcType=DECIMAL},
      </if>
      <if test="buyerCode != null" >
        BUYER_CODE = #{buyerCode,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null" >
        BUYER_NAME = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerAddr1 != null" >
        BUYER_ADDR1 = #{buyerAddr1,jdbcType=VARCHAR},
      </if>
      <if test="buyerAddr2 != null" >
        BUYER_ADDR2 = #{buyerAddr2,jdbcType=VARCHAR},
      </if>
      <if test="buyerAddr3 != null" >
        BUYER_ADDR3 = #{buyerAddr3,jdbcType=VARCHAR},
      </if>
      <if test="buyerAddr4 != null" >
        BUYER_ADDR4 = #{buyerAddr4,jdbcType=VARCHAR},
      </if>
      <if test="buyerCity != null" >
        BUYER_CITY = #{buyerCity,jdbcType=VARCHAR},
      </if>
      <if test="buyerState != null" >
        BUYER_STATE = #{buyerState,jdbcType=VARCHAR},
      </if>
      <if test="buyerCtryCode != null" >
        BUYER_CTRY_CODE = #{buyerCtryCode,jdbcType=CHAR},
      </if>
      <if test="buyerPostalCode != null" >
        BUYER_POSTAL_CODE = #{buyerPostalCode,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null" >
        DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="subDeptCode != null" >
        SUB_DEPT_CODE = #{subDeptCode,jdbcType=VARCHAR},
      </if>
      <if test="subDeptName != null" >
        SUB_DEPT_NAME = #{subDeptName,jdbcType=VARCHAR},
      </if>
      <if test="supplierOid != null" >
        SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL},
      </if>
      <if test="supplierCode != null" >
        SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddr1 != null" >
        SUPPLIER_ADDR1 = #{supplierAddr1,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddr2 != null" >
        SUPPLIER_ADDR2 = #{supplierAddr2,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddr3 != null" >
        SUPPLIER_ADDR3 = #{supplierAddr3,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddr4 != null" >
        SUPPLIER_ADDR4 = #{supplierAddr4,jdbcType=VARCHAR},
      </if>
      <if test="supplierCity != null" >
        SUPPLIER_CITY = #{supplierCity,jdbcType=VARCHAR},
      </if>
      <if test="supplierState != null" >
        SUPPLIER_STATE = #{supplierState,jdbcType=VARCHAR},
      </if>
      <if test="supplierCtryCode != null" >
        SUPPLIER_CTRY_CODE = #{supplierCtryCode,jdbcType=CHAR},
      </if>
      <if test="supplierPostalCode != null" >
        SUPPLIER_POSTAL_CODE = #{supplierPostalCode,jdbcType=VARCHAR},
      </if>
      <if test="totalCost != null" >
        TOTAL_COST = #{totalCost,jdbcType=DECIMAL},
      </if>
      <if test="reasonCode != null" >
        REASON_CODE = #{reasonCode,jdbcType=VARCHAR},
      </if>
      <if test="reasonDesc != null" >
        REASON_DESC = #{reasonDesc,jdbcType=VARCHAR},
      </if>
      <if test="rtvRemarks != null" >
        RTV_REMARKS = #{rtvRemarks,jdbcType=VARCHAR},
      </if>
      <if test="rtvStatus != null" >
        CTRL_STATUS = #{rtvStatus,jdbcType=VARCHAR},
      </if>
      <if test="duplicate != null" >
        DUPLICATE = #{duplicate,jdbcType=BIT}
      </if>
    </set>
    where RTV_OID = #{rtvOid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pracbiz.b2bportal.core.holder.RtvHeaderHolder" >
    update RTV_HEADER
    set RTV_NO = #{rtvNo,jdbcType=VARCHAR},
      DOC_ACTION = #{docAction,jdbcType=CHAR},
      ACTION_DATE = #{actionDate,jdbcType=TIMESTAMP},
      RTV_DATE = #{rtvDate,jdbcType=DATE},
      COLLECTION_DATE = #{collectionDate,jdbcType=DATE},
      DO_NO = #{doNo,jdbcType=VARCHAR},
      DO_DATE = #{doDate,jdbcType=DATE},
      INV_NO = #{invNo,jdbcType=VARCHAR},
      INV_DATE = #{invDate,jdbcType=DATE},
      BUYER_OID = #{buyerOid,jdbcType=DECIMAL},
      BUYER_CODE = #{buyerCode,jdbcType=VARCHAR},
      BUYER_NAME = #{buyerName,jdbcType=VARCHAR},
      BUYER_ADDR1 = #{buyerAddr1,jdbcType=VARCHAR},
      BUYER_ADDR2 = #{buyerAddr2,jdbcType=VARCHAR},
      BUYER_ADDR3 = #{buyerAddr3,jdbcType=VARCHAR},
      BUYER_ADDR4 = #{buyerAddr4,jdbcType=VARCHAR},
      BUYER_CITY = #{buyerCity,jdbcType=VARCHAR},
      BUYER_STATE = #{buyerState,jdbcType=VARCHAR},
      BUYER_CTRY_CODE = #{buyerCtryCode,jdbcType=CHAR},
      BUYER_POSTAL_CODE = #{buyerPostalCode,jdbcType=VARCHAR},
      DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      SUB_DEPT_CODE = #{subDeptCode,jdbcType=VARCHAR},
      SUB_DEPT_NAME = #{subDeptName,jdbcType=VARCHAR},
      SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL},
      SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR},
      SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
      SUPPLIER_ADDR1 = #{supplierAddr1,jdbcType=VARCHAR},
      SUPPLIER_ADDR2 = #{supplierAddr2,jdbcType=VARCHAR},
      SUPPLIER_ADDR3 = #{supplierAddr3,jdbcType=VARCHAR},
      SUPPLIER_ADDR4 = #{supplierAddr4,jdbcType=VARCHAR},
      SUPPLIER_CITY = #{supplierCity,jdbcType=VARCHAR},
      SUPPLIER_STATE = #{supplierState,jdbcType=VARCHAR},
      SUPPLIER_CTRY_CODE = #{supplierCtryCode,jdbcType=CHAR},
      SUPPLIER_POSTAL_CODE = #{supplierPostalCode,jdbcType=VARCHAR},
      TOTAL_COST = #{totalCost,jdbcType=DECIMAL},
      REASON_CODE = #{reasonCode,jdbcType=VARCHAR},
      REASON_DESC = #{reasonDesc,jdbcType=VARCHAR},
      RTV_REMARKS = #{rtvRemarks,jdbcType=VARCHAR},
      CTRL_STATUS = #{rtvStatus,jdbcType=VARCHAR},
      DUPLICATE = #{duplicate,jdbcType=BIT}
    where RTV_OID = #{rtvOid,jdbcType=DECIMAL}
  </update>
  
  <select id="selectAllRecordToExport" parameterType="com.pracbiz.b2bportal.core.holder.extension.RtvSummaryHolder" resultMap="summaryResultMap">
		SELECT 
		<include refid="Grid_Column_List"/>
		,(SELECT COUNT(*) FROM  RTV_DETAIL RD WHERE RD.RTV_OID = R.RTV_OID) AS DETAIL_COUNT
		,<![CDATA[(SELECT GROUP_CONCAT(LOCATION_CODE SEPARATOR ' new-line ') FROM RTV_LOCATION RL WHERE R.RTV_OID = RL.RTV_OID) AS STORE_CODE]]>
		FROM MSG_TRANSACTIONS M, RTV_HEADER R
		<!-- handle group constraint for buyer user. -->
        <if test="(currentUserType == 2 or currentUserType == 4) and visiable == true and fullGroupPriv == false">
             <if test="listOid != null">
             ,FAVOURITE_LIST_SUPPLIER FLS
             </if>
             <if test="listOid == null">
             ,GROUP_SUPPLIER GS 
             </if>
        </if>
        <!-- handle group constraint for supplier user. -->
        <if test="(currentUserType == 3 or currentUserType == 5) and visiable == true and currentUserGroupOid != null and fullGroupPriv == false">
            ,GROUP_TRADING_PARTNER GTP, TRADING_PARTNER TP
        </if>
		<!-- handle supplier set --> 
		<if test="setOid != null and validSupplierSet == true ">
			, SUPPLIER S
		</if>
		WHERE M.DOC_OID = R.RTV_OID
		<if test="rtvNo != null">
			AND R.RTV_NO like concat('%',#{rtvNo,jdbcType=VARCHAR},'%')
		</if>
		<if test="doNo != null">
			AND R.DO_NO like concat('%',#{doNo,jdbcType=VARCHAR},'%')
		</if>
		<if test="invNo != null">
			AND R.INV_NO like concat('%',#{invNo,jdbcType=VARCHAR},'%')
		</if>
		<if test="rtvDateFrom != null">
			<![CDATA[
			AND R.RTV_DATE >= #{rtvDateFrom,jdbcType=TIMESTAMP}
			]]>
		</if>
		<if test="rtvDateTo != null">
			<![CDATA[
			AND R.RTV_DATE <= #{rtvDateTo,jdbcType=TIMESTAMP}
			]]>
		</if>
		<if test="sentDateFrom != null">
			<![CDATA[
			AND M.SENT_DATE >= #{sentDateFrom,jdbcType=TIMESTAMP}
			]]>
		</if>
		<if test="sentDateTo != null">
			<![CDATA[
			AND M.SENT_DATE <= #{sentDateTo,jdbcType=TIMESTAMP}
			]]>
		</if>
		<if test="receivedDateFrom != null">
			<![CDATA[
			AND M.CREATE_DATE >= #{receivedDateFrom,jdbcType=TIMESTAMP}
			 ]]>
		</if>
		<if test="receivedDateTo != null">
			<![CDATA[
			AND M.CREATE_DATE <= #{receivedDateTo,jdbcType=TIMESTAMP}
			]]>
		</if>
		<if test="invDateFrom != null">
			<![CDATA[
			AND R.INV_DATE >= #{invDateFrom,jdbcType=TIMESTAMP}
			 ]]>
		</if>
		<if test="invDateTo != null">
			<![CDATA[
			AND R.INV_DATE <= #{invDateTo,jdbcType=TIMESTAMP}
			]]>
		</if>
		<if test="readStatus != null" >
            AND M.READ_STATUS = #{readStatus,jdbcType=VARCHAR}
        </if>
		<if test="rtvStatus != null" >
            AND R.CTRL_STATUS = #{rtvStatus,jdbcType=VARCHAR}
        </if>
		<!-- handle group constraint for buyer user. -->
        <if test="(currentUserType == 2 or currentUserType == 4) and visiable == true and fullGroupPriv == false">
           <if test="listOid != null">
               AND FLS.LIST_OID = #{listOid,jdbcType=DECIMAL}
               AND R.SUPPLIER_OID = FLS.SUPPLIER_OID
           </if>
           <if test="listOid == null">
                AND GS.GROUP_OID = #{currentUserGroupOid,jdbcType=DECIMAL}
                AND R.SUPPLIER_OID = GS.SUPPLIER_OID
           </if>
        </if>
        <!-- handle group constraint for supplier user. -->
        <if test="(currentUserType == 3 or currentUserType == 5) and visiable == true and currentUserGroupOid != null and fullGroupPriv == false">
            AND GTP.GROUP_OID = #{currentUserGroupOid,jdbcType=DECIMAL}
            AND GTP.TP_OID = TP.TP_OID
            AND TP.BUYER_SUPPLIER_CODE = R.SUPPLIER_CODE
            AND TP.BUYER_OID = R.BUYER_OID
        </if>
        <if test="visiable == false">
           AND 1 = 2
        </if>
        <!-- current is buyer type user or store type user, add restrict by buyer store access -->
	    <if test="(currentUserType == 2 or currentUserType == 4 or currentUserType == 6 or currentUserType == 7) and allStoreFlag == false">
	      <if test="buyerStoreAccessList != null and !buyerStoreAccessList.isEmpty()">
	          AND CASE (SELECT COUNT(*) FROM RTV_LOCATION RLOC WHERE R.RTV_OID = RLOC.RTV_OID) WHEN 0 THEN 1=1 ELSE (
		          EXISTS( SELECT 1 FROM RTV_LOCATION PL WHERE PL.LOCATION_CODE IN 
		          <foreach collection="buyerStoreAccessList" index="index" item="item" open="(" separator="," close=")">
		              #{item}
		          </foreach>
		          AND R.RTV_OID = PL.RTV_OID)
	          ) END
	      </if>
	      <if test="buyerStoreAccessList == null or buyerStoreAccessList.isEmpty()">
	          AND 1=2
	      </if>
	    </if>
	    <if test="storeCode != null">
	        AND EXISTS( SELECT 1 FROM RTV_LOCATION RL WHERE RL.LOCATION_CODE = #{storeCode,jdbcType=VARCHAR}
	        AND R.RTV_OID = RL.RTV_OID)
	    </if>
        <if test="currentUserBuyerOid != null">
            AND (M.BUYER_OID = #{currentUserBuyerOid,jdbcType=DECIMAL} OR M.BUYER_OID IN 
            (SELECT AAC.COMPANY_OID FROM ALLOWED_ACCESS_COMPANY AAC WHERE AAC.USER_OID=#{currentUserOid,jdbcType=DECIMAL}))
        </if>
        <if test="currentUserSupplierOid != null and setOid == null and validSupplierSet == false">
            AND M.SUPPLIER_OID = #{currentUserSupplierOid,jdbcType=DECIMAL}
        </if>
        <if test="supplierOid != null and supplierOid != -1 and setOid == null and validSupplierSet == false">
            AND M.SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL}
        </if>
        <if test="buyerOid != null and buyerOid != -1">
            AND M.BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
        </if>
        <if test="supplierCode != null">
            AND M.SUPPLIER_CODE like concat('%',#{supplierCode,jdbcType=VARCHAR},'%')
        </if>
		<if test="setOid != null and validSupplierSet == true ">
			AND S.SUPPLIER_OID = R.SUPPLIER_OID
			AND S.SET_OID = #{setOid,jdbcType=DECIMAL} 
			<if test="supplierOid != null and supplierOid != -1">
				AND S.SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL}
			</if>
		</if>
        <if test="supplierName != null">
            AND M.SUPPLIER_NAME like concat('%',#{supplierName,jdbcType=VARCHAR},'%')
        </if>
		<if test="sortField != null" >
        	order by ${sortField} ${sortOrder}
		</if>
	</select>
</mapper>