<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pracbiz.b2bportal.core.mapper.SalesHeaderMapper" >
  <resultMap id="BaseResultMap" type="com.pracbiz.b2bportal.core.holder.SalesHeaderHolder" >
    <id column="SALES_OID" property="salesOid" jdbcType="DECIMAL" />
    <result column="SALES_NO" property="salesNo" jdbcType="VARCHAR" />
    <result column="DOC_ACTION" property="docAction" jdbcType="CHAR" />
    <result column="ACTION_DATE" property="actionDate" jdbcType="TIMESTAMP" />
    <result column="SALES_DATA_TYPE" property="salesDataType" jdbcType="VARCHAR" />
    <result column="SALES_DATE" property="salesDate" jdbcType="DATE" />
    <result column="BUYER_OID" property="buyerOid" jdbcType="DECIMAL" />
    <result column="BUYER_CODE" property="buyerCode" jdbcType="VARCHAR" />
    <result column="BUYER_NAME" property="buyerName" jdbcType="VARCHAR" />
    <result column="BUYER_ADDR1" property="buyerAddr1" jdbcType="VARCHAR" />
    <result column="BUYER_ADDR2" property="buyerAddr2" jdbcType="VARCHAR" />
    <result column="BUYER_ADDR3" property="buyerAddr3" jdbcType="VARCHAR" />
    <result column="BUYER_ADDR4" property="buyerAddr4" jdbcType="VARCHAR" />
    <result column="BUYER_CITY" property="buyerCity" jdbcType="VARCHAR" />
    <result column="BUYER_STATE" property="buyerState" jdbcType="VARCHAR" />
    <result column="BUYER_CTRY_CODE" property="buyerCtryCode" jdbcType="CHAR" />
    <result column="BUYER_POSTAL_CODE" property="buyerPostalCode" jdbcType="VARCHAR" />
    <result column="SUPPLIER_OID" property="supplierOid" jdbcType="DECIMAL" />
    <result column="SUPPLIER_CODE" property="supplierCode" jdbcType="VARCHAR" />
    <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR" />
    <result column="SUPPLIER_ADDR1" property="supplierAddr1" jdbcType="VARCHAR" />
    <result column="SUPPLIER_ADDR2" property="supplierAddr2" jdbcType="VARCHAR" />
    <result column="SUPPLIER_ADDR3" property="supplierAddr3" jdbcType="VARCHAR" />
    <result column="SUPPLIER_ADDR4" property="supplierAddr4" jdbcType="VARCHAR" />
    <result column="SUPPLIER_CITY" property="supplierCity" jdbcType="VARCHAR" />
    <result column="SUPPLIER_STATE" property="supplierState" jdbcType="VARCHAR" />
    <result column="SUPPLIER_CTRY_CODE" property="supplierCtryCode" jdbcType="CHAR" />
    <result column="SUPPLIER_POSTAL_CODE" property="supplierPostalCode" jdbcType="VARCHAR" />
    <result column="STORE_CODE" property="storeCode" jdbcType="VARCHAR" />
    <result column="STORE_NAME" property="storeName" jdbcType="VARCHAR" />
    <result column="STORE_ADDR1" property="storeAddr1" jdbcType="VARCHAR" />
    <result column="STORE_ADDR2" property="storeAddr2" jdbcType="VARCHAR" />
    <result column="STORE_ADDR3" property="storeAddr3" jdbcType="VARCHAR" />
    <result column="STORE_ADDR4" property="storeAddr4" jdbcType="VARCHAR" />
    <result column="STORE_CITY" property="storeCity" jdbcType="VARCHAR" />
    <result column="STORE_STATE" property="storeState" jdbcType="VARCHAR" />
    <result column="STORE_CTRY_CODE" property="storeCtryCode" jdbcType="CHAR" />
    <result column="STORE_POSTAL_CODE" property="storePostalCode" jdbcType="VARCHAR" />
    <result column="TOTAL_QTY" property="totalQty" jdbcType="DECIMAL" />
    <result column="TOTAL_GROSS_SALES_AMOUNT" property="totalGrossSalesAmount" jdbcType="DECIMAL" />
    <result column="TOTAL_DISCOUNT_AMOUNT" property="totalDiscountAmount" jdbcType="DECIMAL" />
    <result column="TOTAL_VAT_AMOUNT" property="totalVatAmount" jdbcType="DECIMAL" />
    <result column="TOTAL_NET_SALES_AMOUNT" property="totalNetSalesAmount" jdbcType="DECIMAL" />
    <result column="PERIOD_START_DATE" property="periodStartDate" jdbcType="DATE" />
    <result column="PERIOD_END_DATE" property="periodEndDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    SALES_OID, SALES_NO, DOC_ACTION, ACTION_DATE, SALES_DATA_TYPE, SALES_DATE, BUYER_OID, 
    BUYER_CODE, BUYER_NAME, BUYER_ADDR1, BUYER_ADDR2, BUYER_ADDR3, BUYER_ADDR4, BUYER_CITY, 
    BUYER_STATE, BUYER_CTRY_CODE, BUYER_POSTAL_CODE, SUPPLIER_OID, SUPPLIER_CODE, SUPPLIER_NAME, 
    SUPPLIER_ADDR1, SUPPLIER_ADDR2, SUPPLIER_ADDR3, SUPPLIER_ADDR4, SUPPLIER_CITY, SUPPLIER_STATE, 
    SUPPLIER_CTRY_CODE, SUPPLIER_POSTAL_CODE, STORE_CODE, STORE_NAME, STORE_ADDR1, STORE_ADDR2, 
    STORE_ADDR3, STORE_ADDR4, STORE_CITY, STORE_STATE, STORE_CTRY_CODE, STORE_POSTAL_CODE, 
    TOTAL_QTY, TOTAL_GROSS_SALES_AMOUNT, TOTAL_DISCOUNT_AMOUNT, TOTAL_VAT_AMOUNT, TOTAL_NET_SALES_AMOUNT, 
    PERIOD_START_DATE, PERIOD_END_DATE
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="com.pracbiz.b2bportal.core.holder.SalesHeaderHolder" >
    select 
    <include refid="Base_Column_List" />
    from SALES_HEADER
    <where>
      <if test="salesOid != null">
    	SALES_OID = #{salesOid,jdbcType=DECIMAL}
      </if>
      <if test="salesNo != null" >
        and SALES_NO = #{salesNo,jdbcType=VARCHAR}
      </if>
      <if test="docAction != null" >
        and DOC_ACTION = #{docAction,jdbcType=CHAR}
      </if>
      <if test="actionDate != null" >
        and ACTION_DATE = #{actionDate,jdbcType=TIMESTAMP}
      </if>
      <if test="salesDataType != null" >
        and SALES_DATA_TYPE = #{salesDataType,jdbcType=VARCHAR}
      </if>
      <if test="salesDate != null" >
        and SALES_DATE = #{salesDate,jdbcType=DATE}
      </if>
      <if test="buyerOid != null" >
        and BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
      </if>
      <if test="buyerCode != null" >
        and BUYER_CODE = #{buyerCode,jdbcType=VARCHAR}
      </if>
      <if test="buyerName != null" >
        and BUYER_NAME = #{buyerName,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr1 != null" >
        and BUYER_ADDR1 = #{buyerAddr1,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr2 != null" >
        and BUYER_ADDR2 = #{buyerAddr2,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr3 != null" >
        and BUYER_ADDR3 = #{buyerAddr3,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr4 != null" >
        and BUYER_ADDR4 = #{buyerAddr4,jdbcType=VARCHAR}
      </if>
      <if test="buyerCity != null" >
        and BUYER_CITY = #{buyerCity,jdbcType=VARCHAR}
      </if>
      <if test="buyerState != null" >
        and BUYER_STATE = #{buyerState,jdbcType=VARCHAR}
      </if>
      <if test="buyerCtryCode != null" >
        and BUYER_CTRY_CODE = #{buyerCtryCode,jdbcType=CHAR}
      </if>
      <if test="buyerPostalCode != null" >
        and BUYER_POSTAL_CODE = #{buyerPostalCode,jdbcType=VARCHAR}
      </if>
      <if test="supplierOid != null" >
        and SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL}
      </if>
      <if test="supplierCode != null" >
        and SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR}
      </if>
      <if test="supplierName != null" >
        and SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr1 != null" >
        and SUPPLIER_ADDR1 = #{supplierAddr1,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr2 != null" >
        and SUPPLIER_ADDR2 = #{supplierAddr2,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr3 != null" >
        and SUPPLIER_ADDR3 = #{supplierAddr3,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr4 != null" >
        and SUPPLIER_ADDR4 = #{supplierAddr4,jdbcType=VARCHAR}
      </if>
      <if test="supplierCity != null" >
        and SUPPLIER_CITY = #{supplierCity,jdbcType=VARCHAR}
      </if>
      <if test="supplierState != null" >
        and SUPPLIER_STATE = #{supplierState,jdbcType=VARCHAR}
      </if>
      <if test="supplierCtryCode != null" >
        and SUPPLIER_CTRY_CODE = #{supplierCtryCode,jdbcType=CHAR}
      </if>
      <if test="supplierPostalCode != null" >
        and SUPPLIER_POSTAL_CODE = #{supplierPostalCode,jdbcType=VARCHAR}
      </if>
      <if test="storeCode != null" >
        and STORE_CODE = #{storeCode,jdbcType=VARCHAR}
      </if>
      <if test="storeName != null" >
        and STORE_NAME = #{storeName,jdbcType=VARCHAR}
      </if>
      <if test="storeAddr1 != null" >
        and STORE_ADDR1 = #{storeAddr1,jdbcType=VARCHAR}
      </if>
      <if test="storeAddr2 != null" >
        and STORE_ADDR2 = #{storeAddr2,jdbcType=VARCHAR}
      </if>
      <if test="storeAddr3 != null" >
        and STORE_ADDR3 = #{storeAddr3,jdbcType=VARCHAR}
      </if>
      <if test="storeAddr4 != null" >
        and STORE_ADDR4 = #{storeAddr4,jdbcType=VARCHAR}
      </if>
      <if test="storeCity != null" >
        and STORE_CITY = #{storeCity,jdbcType=VARCHAR}
      </if>
      <if test="storeState != null" >
        and STORE_STATE = #{storeState,jdbcType=VARCHAR}
      </if>
      <if test="storeCtryCode != null" >
        and STORE_CTRY_CODE = #{storeCtryCode,jdbcType=CHAR}
      </if>
      <if test="storePostalCode != null" >
        and STORE_POSTAL_CODE = #{storePostalCode,jdbcType=VARCHAR}
      </if>
      <if test="totalQty != null" >
        and TOTAL_QTY = #{totalQty,jdbcType=DECIMAL}
      </if>
      <if test="totalGrossSalesAmount != null" >
        and TOTAL_GROSS_SALES_AMOUNT = #{totalGrossSalesAmount,jdbcType=DECIMAL}
      </if>
      <if test="totalDiscountAmount != null" >
        and TOTAL_DISCOUNT_AMOUNT = #{totalDiscountAmount,jdbcType=DECIMAL}
      </if>
      <if test="totalVatAmount != null" >
        and TOTAL_VAT_AMOUNT = #{totalVatAmount,jdbcType=DECIMAL}
      </if>
      <if test="totalNetSalesAmount != null" >
        and TOTAL_NET_SALES_AMOUNT = #{totalNetSalesAmount,jdbcType=DECIMAL}
      </if>
      <if test="periodStartDate != null" >
        and PERIOD_START_DATE = #{periodStartDate,jdbcType=DATE}
      </if>
      <if test="periodEndDate != null" >
        and PERIOD_END_DATE = #{periodEndDate,jdbcType=DATE}
      </if>
    </where>
  </select>
  <delete id="delete" parameterType="com.pracbiz.b2bportal.core.holder.SalesHeaderHolder" >
    delete from SALES_HEADER
    <where>
      <if test="salesOid != null">
    	SALES_OID = #{salesOid,jdbcType=DECIMAL}
      </if>
      <if test="salesNo != null" >
        and SALES_NO = #{salesNo,jdbcType=VARCHAR}
      </if>
      <if test="docAction != null" >
        and DOC_ACTION = #{docAction,jdbcType=CHAR}
      </if>
      <if test="actionDate != null" >
        and ACTION_DATE = #{actionDate,jdbcType=TIMESTAMP}
      </if>
      <if test="salesDataType != null" >
        and SALES_DATA_TYPE = #{salesDataType,jdbcType=VARCHAR}
      </if>
      <if test="salesDate != null" >
        and SALES_DATE = #{salesDate,jdbcType=DATE}
      </if>
      <if test="buyerOid != null" >
        and BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
      </if>
      <if test="buyerCode != null" >
        and BUYER_CODE = #{buyerCode,jdbcType=VARCHAR}
      </if>
      <if test="buyerName != null" >
        and BUYER_NAME = #{buyerName,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr1 != null" >
        and BUYER_ADDR1 = #{buyerAddr1,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr2 != null" >
        and BUYER_ADDR2 = #{buyerAddr2,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr3 != null" >
        and BUYER_ADDR3 = #{buyerAddr3,jdbcType=VARCHAR}
      </if>
      <if test="buyerAddr4 != null" >
        and BUYER_ADDR4 = #{buyerAddr4,jdbcType=VARCHAR}
      </if>
      <if test="buyerCity != null" >
        and BUYER_CITY = #{buyerCity,jdbcType=VARCHAR}
      </if>
      <if test="buyerState != null" >
        and BUYER_STATE = #{buyerState,jdbcType=VARCHAR}
      </if>
      <if test="buyerCtryCode != null" >
        and BUYER_CTRY_CODE = #{buyerCtryCode,jdbcType=CHAR}
      </if>
      <if test="buyerPostalCode != null" >
        and BUYER_POSTAL_CODE = #{buyerPostalCode,jdbcType=VARCHAR}
      </if>
      <if test="supplierOid != null" >
        and SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL}
      </if>
      <if test="supplierCode != null" >
        and SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR}
      </if>
      <if test="supplierName != null" >
        and SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr1 != null" >
        and SUPPLIER_ADDR1 = #{supplierAddr1,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr2 != null" >
        and SUPPLIER_ADDR2 = #{supplierAddr2,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr3 != null" >
        and SUPPLIER_ADDR3 = #{supplierAddr3,jdbcType=VARCHAR}
      </if>
      <if test="supplierAddr4 != null" >
        and SUPPLIER_ADDR4 = #{supplierAddr4,jdbcType=VARCHAR}
      </if>
      <if test="supplierCity != null" >
        and SUPPLIER_CITY = #{supplierCity,jdbcType=VARCHAR}
      </if>
      <if test="supplierState != null" >
        and SUPPLIER_STATE = #{supplierState,jdbcType=VARCHAR}
      </if>
      <if test="supplierCtryCode != null" >
        and SUPPLIER_CTRY_CODE = #{supplierCtryCode,jdbcType=CHAR}
      </if>
      <if test="supplierPostalCode != null" >
        and SUPPLIER_POSTAL_CODE = #{supplierPostalCode,jdbcType=VARCHAR}
      </if>
      <if test="storeCode != null" >
        and STORE_CODE = #{storeCode,jdbcType=VARCHAR}
      </if>
      <if test="storeName != null" >
        and STORE_NAME = #{storeName,jdbcType=VARCHAR}
      </if>
      <if test="storeAddr1 != null" >
        and STORE_ADDR1 = #{storeAddr1,jdbcType=VARCHAR}
      </if>
      <if test="storeAddr2 != null" >
        and STORE_ADDR2 = #{storeAddr2,jdbcType=VARCHAR}
      </if>
      <if test="storeAddr3 != null" >
        and STORE_ADDR3 = #{storeAddr3,jdbcType=VARCHAR}
      </if>
      <if test="storeAddr4 != null" >
        and STORE_ADDR4 = #{storeAddr4,jdbcType=VARCHAR}
      </if>
      <if test="storeCity != null" >
        and STORE_CITY = #{storeCity,jdbcType=VARCHAR}
      </if>
      <if test="storeState != null" >
        and STORE_STATE = #{storeState,jdbcType=VARCHAR}
      </if>
      <if test="storeCtryCode != null" >
        and STORE_CTRY_CODE = #{storeCtryCode,jdbcType=CHAR}
      </if>
      <if test="storePostalCode != null" >
        and STORE_POSTAL_CODE = #{storePostalCode,jdbcType=VARCHAR}
      </if>
      <if test="totalQty != null" >
        and TOTAL_QTY = #{totalQty,jdbcType=DECIMAL}
      </if>
      <if test="totalGrossSalesAmount != null" >
        and TOTAL_GROSS_SALES_AMOUNT = #{totalGrossSalesAmount,jdbcType=DECIMAL}
      </if>
      <if test="totalDiscountAmount != null" >
        and TOTAL_DISCOUNT_AMOUNT = #{totalDiscountAmount,jdbcType=DECIMAL}
      </if>
      <if test="totalVatAmount != null" >
        and TOTAL_VAT_AMOUNT = #{totalVatAmount,jdbcType=DECIMAL}
      </if>
      <if test="totalNetSalesAmount != null" >
        and TOTAL_NET_SALES_AMOUNT = #{totalNetSalesAmount,jdbcType=DECIMAL}
      </if>
      <if test="periodStartDate != null" >
        and PERIOD_START_DATE = #{periodStartDate,jdbcType=DATE}
      </if>
      <if test="periodEndDate != null" >
        and PERIOD_END_DATE = #{periodEndDate,jdbcType=DATE}
      </if>
    </where>
  </delete>
  <insert id="insert" parameterType="com.pracbiz.b2bportal.core.holder.SalesHeaderHolder" >
    insert into SALES_HEADER (SALES_OID, SALES_NO, DOC_ACTION, 
      ACTION_DATE, SALES_DATA_TYPE, SALES_DATE, 
      BUYER_OID, BUYER_CODE, BUYER_NAME, 
      BUYER_ADDR1, BUYER_ADDR2, BUYER_ADDR3, 
      BUYER_ADDR4, BUYER_CITY, BUYER_STATE, 
      BUYER_CTRY_CODE, BUYER_POSTAL_CODE, SUPPLIER_OID, 
      SUPPLIER_CODE, SUPPLIER_NAME, SUPPLIER_ADDR1, 
      SUPPLIER_ADDR2, SUPPLIER_ADDR3, SUPPLIER_ADDR4, 
      SUPPLIER_CITY, SUPPLIER_STATE, SUPPLIER_CTRY_CODE, 
      SUPPLIER_POSTAL_CODE, STORE_CODE, STORE_NAME, 
      STORE_ADDR1, STORE_ADDR2, STORE_ADDR3, 
      STORE_ADDR4, STORE_CITY, STORE_STATE, 
      STORE_CTRY_CODE, STORE_POSTAL_CODE, TOTAL_QTY, 
      TOTAL_GROSS_SALES_AMOUNT, TOTAL_DISCOUNT_AMOUNT, 
      TOTAL_VAT_AMOUNT, TOTAL_NET_SALES_AMOUNT, PERIOD_START_DATE, 
      PERIOD_END_DATE)
    values (#{salesOid,jdbcType=DECIMAL}, #{salesNo,jdbcType=VARCHAR}, #{docAction,jdbcType=CHAR}, 
      #{actionDate,jdbcType=TIMESTAMP}, #{salesDataType,jdbcType=VARCHAR}, #{salesDate,jdbcType=DATE}, 
      #{buyerOid,jdbcType=DECIMAL}, #{buyerCode,jdbcType=VARCHAR}, #{buyerName,jdbcType=VARCHAR}, 
      #{buyerAddr1,jdbcType=VARCHAR}, #{buyerAddr2,jdbcType=VARCHAR}, #{buyerAddr3,jdbcType=VARCHAR}, 
      #{buyerAddr4,jdbcType=VARCHAR}, #{buyerCity,jdbcType=VARCHAR}, #{buyerState,jdbcType=VARCHAR}, 
      #{buyerCtryCode,jdbcType=CHAR}, #{buyerPostalCode,jdbcType=VARCHAR}, #{supplierOid,jdbcType=DECIMAL}, 
      #{supplierCode,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, #{supplierAddr1,jdbcType=VARCHAR}, 
      #{supplierAddr2,jdbcType=VARCHAR}, #{supplierAddr3,jdbcType=VARCHAR}, #{supplierAddr4,jdbcType=VARCHAR}, 
      #{supplierCity,jdbcType=VARCHAR}, #{supplierState,jdbcType=VARCHAR}, #{supplierCtryCode,jdbcType=CHAR}, 
      #{supplierPostalCode,jdbcType=VARCHAR}, #{storeCode,jdbcType=VARCHAR}, #{storeName,jdbcType=VARCHAR}, 
      #{storeAddr1,jdbcType=VARCHAR}, #{storeAddr2,jdbcType=VARCHAR}, #{storeAddr3,jdbcType=VARCHAR}, 
      #{storeAddr4,jdbcType=VARCHAR}, #{storeCity,jdbcType=VARCHAR}, #{storeState,jdbcType=VARCHAR}, 
      #{storeCtryCode,jdbcType=CHAR}, #{storePostalCode,jdbcType=VARCHAR}, #{totalQty,jdbcType=DECIMAL}, 
      #{totalGrossSalesAmount,jdbcType=DECIMAL}, #{totalDiscountAmount,jdbcType=DECIMAL}, 
      #{totalVatAmount,jdbcType=DECIMAL}, #{totalNetSalesAmount,jdbcType=DECIMAL}, #{periodStartDate,jdbcType=DATE}, 
      #{periodEndDate,jdbcType=DATE})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pracbiz.b2bportal.core.holder.SalesHeaderHolder" >
    update SALES_HEADER
    <set >
      <if test="salesNo != null" >
        SALES_NO = #{salesNo,jdbcType=VARCHAR},
      </if>
      <if test="docAction != null" >
        DOC_ACTION = #{docAction,jdbcType=CHAR},
      </if>
      <if test="actionDate != null" >
        ACTION_DATE = #{actionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="salesDataType != null" >
        SALES_DATA_TYPE = #{salesDataType,jdbcType=VARCHAR},
      </if>
      <if test="salesDate != null" >
        SALES_DATE = #{salesDate,jdbcType=DATE},
      </if>
      <if test="buyerOid != null" >
        BUYER_OID = #{buyerOid,jdbcType=DECIMAL},
      </if>
      <if test="buyerCode != null" >
        BUYER_CODE = #{buyerCode,jdbcType=VARCHAR},
      </if>
      <if test="buyerName != null" >
        BUYER_NAME = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerAddr1 != null" >
        BUYER_ADDR1 = #{buyerAddr1,jdbcType=VARCHAR},
      </if>
      <if test="buyerAddr2 != null" >
        BUYER_ADDR2 = #{buyerAddr2,jdbcType=VARCHAR},
      </if>
      <if test="buyerAddr3 != null" >
        BUYER_ADDR3 = #{buyerAddr3,jdbcType=VARCHAR},
      </if>
      <if test="buyerAddr4 != null" >
        BUYER_ADDR4 = #{buyerAddr4,jdbcType=VARCHAR},
      </if>
      <if test="buyerCity != null" >
        BUYER_CITY = #{buyerCity,jdbcType=VARCHAR},
      </if>
      <if test="buyerState != null" >
        BUYER_STATE = #{buyerState,jdbcType=VARCHAR},
      </if>
      <if test="buyerCtryCode != null" >
        BUYER_CTRY_CODE = #{buyerCtryCode,jdbcType=CHAR},
      </if>
      <if test="buyerPostalCode != null" >
        BUYER_POSTAL_CODE = #{buyerPostalCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierOid != null" >
        SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL},
      </if>
      <if test="supplierCode != null" >
        SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddr1 != null" >
        SUPPLIER_ADDR1 = #{supplierAddr1,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddr2 != null" >
        SUPPLIER_ADDR2 = #{supplierAddr2,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddr3 != null" >
        SUPPLIER_ADDR3 = #{supplierAddr3,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddr4 != null" >
        SUPPLIER_ADDR4 = #{supplierAddr4,jdbcType=VARCHAR},
      </if>
      <if test="supplierCity != null" >
        SUPPLIER_CITY = #{supplierCity,jdbcType=VARCHAR},
      </if>
      <if test="supplierState != null" >
        SUPPLIER_STATE = #{supplierState,jdbcType=VARCHAR},
      </if>
      <if test="supplierCtryCode != null" >
        SUPPLIER_CTRY_CODE = #{supplierCtryCode,jdbcType=CHAR},
      </if>
      <if test="supplierPostalCode != null" >
        SUPPLIER_POSTAL_CODE = #{supplierPostalCode,jdbcType=VARCHAR},
      </if>
      <if test="storeCode != null" >
        STORE_CODE = #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null" >
        STORE_NAME = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeAddr1 != null" >
        STORE_ADDR1 = #{storeAddr1,jdbcType=VARCHAR},
      </if>
      <if test="storeAddr2 != null" >
        STORE_ADDR2 = #{storeAddr2,jdbcType=VARCHAR},
      </if>
      <if test="storeAddr3 != null" >
        STORE_ADDR3 = #{storeAddr3,jdbcType=VARCHAR},
      </if>
      <if test="storeAddr4 != null" >
        STORE_ADDR4 = #{storeAddr4,jdbcType=VARCHAR},
      </if>
      <if test="storeCity != null" >
        STORE_CITY = #{storeCity,jdbcType=VARCHAR},
      </if>
      <if test="storeState != null" >
        STORE_STATE = #{storeState,jdbcType=VARCHAR},
      </if>
      <if test="storeCtryCode != null" >
        STORE_CTRY_CODE = #{storeCtryCode,jdbcType=CHAR},
      </if>
      <if test="storePostalCode != null" >
        STORE_POSTAL_CODE = #{storePostalCode,jdbcType=VARCHAR},
      </if>
      <if test="totalQty != null" >
        TOTAL_QTY = #{totalQty,jdbcType=DECIMAL},
      </if>
      <if test="totalGrossSalesAmount != null" >
        TOTAL_GROSS_SALES_AMOUNT = #{totalGrossSalesAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalDiscountAmount != null" >
        TOTAL_DISCOUNT_AMOUNT = #{totalDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalVatAmount != null" >
        TOTAL_VAT_AMOUNT = #{totalVatAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalNetSalesAmount != null" >
        TOTAL_NET_SALES_AMOUNT = #{totalNetSalesAmount,jdbcType=DECIMAL},
      </if>
      <if test="periodStartDate != null" >
        PERIOD_START_DATE = #{periodStartDate,jdbcType=DATE},
      </if>
      <if test="periodEndDate != null" >
        PERIOD_END_DATE = #{periodEndDate,jdbcType=DATE},
      </if>
    </set>
    where SALES_OID = #{salesOid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pracbiz.b2bportal.core.holder.SalesHeaderHolder" >
    update SALES_HEADER
    set SALES_NO = #{salesNo,jdbcType=VARCHAR},
      DOC_ACTION = #{docAction,jdbcType=CHAR},
      ACTION_DATE = #{actionDate,jdbcType=TIMESTAMP},
      SALES_DATA_TYPE = #{salesDataType,jdbcType=VARCHAR},
      SALES_DATE = #{salesDate,jdbcType=DATE},
      BUYER_OID = #{buyerOid,jdbcType=DECIMAL},
      BUYER_CODE = #{buyerCode,jdbcType=VARCHAR},
      BUYER_NAME = #{buyerName,jdbcType=VARCHAR},
      BUYER_ADDR1 = #{buyerAddr1,jdbcType=VARCHAR},
      BUYER_ADDR2 = #{buyerAddr2,jdbcType=VARCHAR},
      BUYER_ADDR3 = #{buyerAddr3,jdbcType=VARCHAR},
      BUYER_ADDR4 = #{buyerAddr4,jdbcType=VARCHAR},
      BUYER_CITY = #{buyerCity,jdbcType=VARCHAR},
      BUYER_STATE = #{buyerState,jdbcType=VARCHAR},
      BUYER_CTRY_CODE = #{buyerCtryCode,jdbcType=CHAR},
      BUYER_POSTAL_CODE = #{buyerPostalCode,jdbcType=VARCHAR},
      SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL},
      SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR},
      SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
      SUPPLIER_ADDR1 = #{supplierAddr1,jdbcType=VARCHAR},
      SUPPLIER_ADDR2 = #{supplierAddr2,jdbcType=VARCHAR},
      SUPPLIER_ADDR3 = #{supplierAddr3,jdbcType=VARCHAR},
      SUPPLIER_ADDR4 = #{supplierAddr4,jdbcType=VARCHAR},
      SUPPLIER_CITY = #{supplierCity,jdbcType=VARCHAR},
      SUPPLIER_STATE = #{supplierState,jdbcType=VARCHAR},
      SUPPLIER_CTRY_CODE = #{supplierCtryCode,jdbcType=CHAR},
      SUPPLIER_POSTAL_CODE = #{supplierPostalCode,jdbcType=VARCHAR},
      STORE_CODE = #{storeCode,jdbcType=VARCHAR},
      STORE_NAME = #{storeName,jdbcType=VARCHAR},
      STORE_ADDR1 = #{storeAddr1,jdbcType=VARCHAR},
      STORE_ADDR2 = #{storeAddr2,jdbcType=VARCHAR},
      STORE_ADDR3 = #{storeAddr3,jdbcType=VARCHAR},
      STORE_ADDR4 = #{storeAddr4,jdbcType=VARCHAR},
      STORE_CITY = #{storeCity,jdbcType=VARCHAR},
      STORE_STATE = #{storeState,jdbcType=VARCHAR},
      STORE_CTRY_CODE = #{storeCtryCode,jdbcType=CHAR},
      STORE_POSTAL_CODE = #{storePostalCode,jdbcType=VARCHAR},
      TOTAL_QTY = #{totalQty,jdbcType=DECIMAL},
      TOTAL_GROSS_SALES_AMOUNT = #{totalGrossSalesAmount,jdbcType=DECIMAL},
      TOTAL_DISCOUNT_AMOUNT = #{totalDiscountAmount,jdbcType=DECIMAL},
      TOTAL_VAT_AMOUNT = #{totalVatAmount,jdbcType=DECIMAL},
      TOTAL_NET_SALES_AMOUNT = #{totalNetSalesAmount,jdbcType=DECIMAL},
      PERIOD_START_DATE = #{periodStartDate,jdbcType=DATE},
      PERIOD_END_DATE = #{periodEndDate,jdbcType=DATE}
    where SALES_OID = #{salesOid,jdbcType=DECIMAL}
  </update>
  
  <select id="selectAllRecordToExport" resultMap="summaryResultMap" parameterType="com.pracbiz.b2bportal.core.holder.extension.SalesSummaryHolder"  >
  	SELECT 
    <include refid="Grid_Column_List" />
    FROM MSG_TRANSACTIONS M, SALES_HEADER SH
  	<!-- handle group constraint for buyer user. -->
  	<if test="(currentUserType == 2 or currentUserType == 4) and visiable == true and fullGroupPriv == false">
  	     <if test="listOid != null">
  	     ,FAVOURITE_LIST_SUPPLIER FLS
  	     </if>
  	     <if test="listOid == null">
  	     ,GROUP_SUPPLIER GS 
  	     </if>
  	</if>
  	<!-- handle group constraint for supplier user. -->
    <if test="(currentUserType == 3 or currentUserType == 5) and visiable == true and currentUserGroupOid != null and fullGroupPriv == false">
        ,GROUP_TRADING_PARTNER GTP, TRADING_PARTNER TP
    </if>
	<!-- handle supplier set --> 
	<if test="setOid != null and validSupplierSet == true ">
		, SUPPLIER S
	</if>
	WHERE M.DOC_OID=SH.SALES_OID
	<if test="msgType != null" >
		AND M.MSG_TYPE = #{msgType,jdbcType=VARCHAR}
	</if>
	<if test="salesNo != null" >
		AND SH.SALES_NO like concat('%',#{salesNo,jdbcType=VARCHAR},'%')
	</if>
	<if test="salesDateFrom != null" >
	<![CDATA[
        AND SH.SALES_DATE >= #{salesDateFrom,jdbcType=TIMESTAMP}
    ]]>
	</if>
	<if test="salesDateTo != null" >
	<![CDATA[
        AND SH.SALES_DATE <= #{salesDateTo,jdbcType=TIMESTAMP}
    ]]>
	</if>
	<if test="periodStartDateFrom != null" >
	<![CDATA[
        AND SH.PERIOD_START_DATE >= #{periodStartDateFrom,jdbcType=TIMESTAMP}
    ]]>
	</if>
	<if test="periodStartDateTo != null" >
	<![CDATA[
        AND SH.PERIOD_START_DATE <= #{periodStartDateTo,jdbcType=TIMESTAMP}
    ]]>
	</if>
	<if test="periodEndDateFrom != null" >
	<![CDATA[
        AND SH.PERIOD_END_DATE >= #{periodEndDateFrom,jdbcType=TIMESTAMP}
    ]]>
	</if>
	<if test="periodEndDateTo != null" >
	<![CDATA[
        AND SH.PERIOD_END_DATE <= #{periodEndDateTo,jdbcType=TIMESTAMP}
    ]]>
	</if>
	<if test="sentDateFrom != null" >
	<![CDATA[
        AND M.SENT_DATE >= #{sentDateFrom,jdbcType=TIMESTAMP}
    ]]>
	</if>
	<if test="sentDateTo != null" >
	<![CDATA[
        AND M.SENT_DATE <= #{sentDateTo,jdbcType=TIMESTAMP}
    ]]>
	</if>
	<if test="receivedDateFrom != null" >
	<![CDATA[
        AND M.CREATE_DATE >= #{receivedDateFrom,jdbcType=TIMESTAMP}
    ]]>
	</if>
	<if test="receivedDateTo != null" >
	<![CDATA[
        AND M.CREATE_DATE <= #{receivedDateTo,jdbcType=TIMESTAMP}
    ]]>
	</if>
	<if test="salesDataType != null" >
		AND SH.SALES_DATA_TYPE = #{salesDataType,jdbcType=VARCHAR}
	</if>
	<if test="readStatus != null" >
		AND M.READ_STATUS = #{readStatus,jdbcType=VARCHAR}
	</if>
	<!-- handle group constraint for buyer user. -->
	<if test="(currentUserType == 2 or currentUserType == 4) and visiable == true and fullGroupPriv == false">
	   <if test="listOid != null">
	       AND FLS.LIST_OID = #{listOid,jdbcType=DECIMAL}
	       AND SH.SUPPLIER_OID = FLS.SUPPLIER_OID
	   </if>
	   <if test="listOid == null">
			AND GS.GROUP_OID = #{currentUserGroupOid,jdbcType=DECIMAL}
			AND SH.SUPPLIER_OID = GS.SUPPLIER_OID
	   </if>
	</if>
	<!-- handle group constraint for supplier user. -->
	<if test="(currentUserType == 3 or currentUserType == 5) and visiable == true and currentUserGroupOid != null and fullGroupPriv == false">
		AND GTP.GROUP_OID = #{currentUserGroupOid,jdbcType=DECIMAL}
		AND GTP.TP_OID = TP.TP_OID
		AND TP.BUYER_SUPPLIER_CODE = SH.SUPPLIER_CODE
		AND TP.BUYER_OID = SH.BUYER_OID
	</if>
	<if test="visiable == false">
       AND 1 = 2
    </if>
	<!-- current is buyer type user or store type user, add restrict by buyer store access -->
	<if test="(currentUserType == 2 or currentUserType == 4 or currentUserType == 6 or currentUserType == 7) and allStoreFlag == false">
      <if test="buyerStoreAccessList != null and !buyerStoreAccessList.isEmpty()">
          AND EXISTS( SELECT 1 FROM SALES_LOCATION PL WHERE PL.LOCATION_CODE IN 
          <foreach collection="buyerStoreAccessList" index="index" item="item" open="(" separator="," close=")">
              #{item}
          </foreach>
          AND SH.SALES_OID = PL.SALES_OID)
      </if>
      <if test="buyerStoreAccessList == null or buyerStoreAccessList.isEmpty()">
          AND 1=2
      </if>
    </if>
    <if test="storeCode != null">
        AND EXISTS( SELECT 1 FROM SALES_LOCATION PL WHERE PL.LOCATION_CODE = #{storeCode,jdbcType=VARCHAR}
        AND SH.SALES_OID = PL.SALES_OID)
    </if>
    <if test="currentUserBuyerOid != null">
        AND (M.BUYER_OID = #{currentUserBuyerOid,jdbcType=DECIMAL} OR M.BUYER_OID IN 
        (SELECT AAC.COMPANY_OID FROM ALLOWED_ACCESS_COMPANY AAC WHERE AAC.USER_OID=#{currentUserOid,jdbcType=DECIMAL}))
    </if>
    <if test="currentUserSupplierOid != null and setOid == null and validSupplierSet == false">
        AND M.SUPPLIER_OID = #{currentUserSupplierOid,jdbcType=DECIMAL}
    </if>
	<if test="supplierOid != null and supplierOid != -1 and setOid == null and validSupplierSet == false">
		AND M.SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL}
	</if>
	<if test="buyerOid != null and buyerOid != -1">
		AND M.BUYER_OID = #{buyerOid,jdbcType=DECIMAL}
	</if>
	<if test="supplierCode != null">
		AND M.SUPPLIER_CODE like concat('%',#{supplierCode,jdbcType=VARCHAR},'%')
	</if>
	<if test="setOid != null and validSupplierSet == true ">
		AND S.SUPPLIER_OID = SH.SUPPLIER_OID
		AND S.SET_OID = #{setOid,jdbcType=DECIMAL} 
		<if test="supplierOid != null and supplierOid != -1">
			AND S.SUPPLIER_OID = #{supplierOid,jdbcType=DECIMAL}
		</if>
	</if>
	<if test="supplierName != null">
		AND M.SUPPLIER_NAME like concat('%',#{supplierName,jdbcType=VARCHAR},'%')
	</if>
	<if test="sortField != null" >
        order by ${sortField} ${sortOrder}
    </if>
  </select>
</mapper>