<html>
    <head>
        Hi ${BUYER_NAME} (${BUYER_CODE})
        <br/><br/>
        The following document(s) has/have arrived in your EC Mailbox.
        <br/><br/><br/>
    </head>
    <body>
        <form>
            <table>
                <tr>
                    <td colspan="3" style="text-decoration: underline;">
                        <strong> 
                            Summary
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td width="100" align="left"> Total Docs</td>
                    <td width="30" align="right">:</td>
                    <td align="left">$SUCC_LIST.size()</td>
                </tr>
            </table>
            <table>
                #foreach($o in $SUCC_LIST)
                    <tr>
                        <td width="100" align="left">$velocityCount.</td>
                        <td align="left">$o.targetFilename</td>
                    </tr>
                #end
            </table>
            <br/><br/>
            <table>
                 <tr>
                     <td colspan="2">
                         PracBiz B2B Portal System
                     </td>
                 </tr>
                 <tr>
                     <td colspan="2">
                         Customer Support.(Contact no : ${CONTACT_NO})
                     </td>
                 </tr>
            </table>
        </form>
        <p/>
Server Url: <a href="$appUrl">$appUrl</a>
    </body>
</html>
