<html>
    <head>
        Hi ${BUYER_NAME}(${BUYER_CODE})
        <br/><br/><br/>
        This is Item Summary Report for batch (${BATCH_FILE}).
        <br/><br/><br/>
    </head>
	<body>
        #if($SUCC_LIST.size() > 0)
        <table>
			<tr>
                <td colspan="2" style="text-decoration: underline;">
                    <strong> 
                        Success List
                    </strong>
                </td>
			</tr>
            #foreach($o in $SUCC_LIST)
                <tr>
                    <td width="30" align="left">$velocityCount.</td>
                    <td align="left">$o</td>
                </tr>
            #end
            </table>
    		#end
     <p/>
	<table>
         <tr>
             <td colspan="2">
                 PracBiz B2B Portal System
             </td>
         </tr>
         <tr>
             <td colspan="2">
                 Customer Support
             </td>
         </tr>
    </table>
    <p/>
	 
Server Url: <a href="$appUrl">$appUrl</a>
</body>
</html>
