<html>
<body>
Dear $name,<br/><br/>
Welcome to CK Tang B2B Suppliers Portal. Your portal login id is $loginId<br/><br/>

You are required to set a new password upon first login by clicking <a href="$hyperlink">here</a><br/><br/>

If above link doesn't work, please copy the following to your browser's address bar.<br/><br/>
$hyperlink<br/><br/>

This email will expire at $expireDate.  Please use it before the link expires.<br/><br/>

Thank you for using CK Tang Suppliers Portal.<br/>
If you encounter problems with your login or password, please contact Pracbiz service helpdesk at $helpdeskNumber or email to $helpdeskEmail.<br/><br/>


Server Url: <a href="$appUrl">$appUrl</a>
</body>
</html>